<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true"
  data-kt-scroll-activate="true" data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true"
    data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div class="menu-item"
      *ngxPermissionsOnly="['ADMIN', 'HR', 'WEBTEAM', 'WHO', 'CATEGORY_HEAD', 'PURCHASE_HEAD', 'PURCHASE', 'VENDOR','CONTENT']">
      <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="home-2" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD"></span>
      </a>
    </div>
    <!-- Index -->
    <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
            <span class="menu-link">
                <span class="menu-icon">
                    <app-keenicon name="chart-pie-simple" class="fs-2 text-primary"></app-keenicon>
                </span>

                <span class="menu-title">Index</span>
                <span class="menu-arrow"></span>
            </span>
            <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
                <div class="menu-item">
                    <a class="menu-link without-sub" routerLinkActive="active" routerLink="index/overall-dashboard">
                        <span class="menu-bullet">
                            <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Overall Dashboard</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link without-sub" routerLinkActive="active" routerLink="/index/purchase-dashboard">
                        <span class="menu-bullet">
                            <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Purchase Dashboard</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link without-sub" routerLinkActive="active" routerLink="index/sales-dashboard">
                        <span class="menu-bullet">
                            <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Sales Dashboard</span>
                    </a>
                </div>
            </div>
        </div> -->
    <!-- HR -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
      *ngxPermissionsOnly="['ADMIN', 'HR']">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="user" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Users </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <!-- Employee -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="hr/employees">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Users</span>
          </a>
        </div>




      </div>
    </div>

    <!-- Products -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
      *ngxPermissionsOnly="['ADMIN', 'CATEGORY_HEAD']">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="security-user" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Products Content </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <!-- Categories -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/categories">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Categories</span>
          </a>
        </div>

        <!-- Sub Categories -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/subcategories">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Sub Categories</span>
          </a>
        </div>
        <!-- Groups -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/groups">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Groups</span>
          </a>
        </div>

        <!-- Add new Product -->
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/products">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Product List</span>
          </a>
        </div> -->

        <!-- Product Parameters -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/productparameters">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Specifications</span>
          </a>
        </div>

        <!-- Product Variant -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/productvariant">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Variants</span>
          </a>
        </div>

        <!-- Request Approval -->
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/request">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Request Approval</span>
          </a>
        </div> -->

        <!-- Brands -->
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/brands">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Brands</span>
          </a>
        </div> -->

        <!-- Tax -->
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/tax">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Tax</span>
          </a>
        </div> -->

        <!-- Payment Terms -->
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/payment">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Payment Terms</span>
          </a>
        </div> -->
      </div>
    </div>


    <!-- Vendor -->
    <!-- <div
      class="menu-item menu-accordion"
      data-kt-menu-trigger="click"
      routerLinkActive="here show"
      *ngxPermissionsOnly="['ADMIN', 'VENDOR', 'CATEGORY_HEAD', 'PURCHASE']"
    >
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="user-tick" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Suppliers </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
     
        <div class="menu-item" *ngxPermissionsOnly="['ADMIN', 'VENDOR', 'CATEGORY_HEAD', 'PURCHASE']">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/vendor/add">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Create new Supplier</span>
          </a>
        </div>
        <div class="menu-item" *ngxPermissionsOnly="['ADMIN', 'VENDOR', 'CATEGORY_HEAD', 'PURCHASE']">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/vendors">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Supplier List</span>
          </a>
        </div>
        <div class="menu-item" *ngxPermissionsOnly="['ADMIN', 'VENDOR', 'CATEGORY_HEAD','PURCHASE']">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="category-head/vendoragent">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Supplier Agent List</span>
          </a>
        </div>
      </div>
    </div> -->

    <!-- Warehouse inward -->
    <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show" *ngxPermissionsOnly="['ADMIN', 'WHO']">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="message-text-2" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Store : Inbound</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
      
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="warehouse/orders">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">In-transit</span>
          </a>
        </div>
        
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/orders/inward">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Bundle Inbound</span>
          </a>
        </div>
      
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/orders/grninward">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Inward Documents</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/orders/grnqc">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Stock QC</span>
          </a>
        </div>
      
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/goods-receipt">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Goods Receipt</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/stocks/returnqc">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Return QC</span>
          </a>
        </div>


        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/shelftransfer">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Shelf Transfer</span>
          </a>
        </div>
      </div>
    </div> -->
    <!-- Warehouse - Barcode -->
    <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show" *ngxPermissionsOnly="['ADMIN', 'WHO']">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="soft-3" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Store : Audit</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/audit-store">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Stock Audit</span>
          </a>
        </div>
      </div>
    </div> -->

    <!-- warehouse Data master -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
      *ngxPermissionsOnly="['ADMIN', 'WHO']">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="crown" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Products Master</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <!-- Inventory Management -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/inventory-control">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Inventory</span>
          </a>
        </div>
        <!-- Shelf Master -->
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/shelves">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Shelf Master</span>
          </a>
        </div> -->
        <!-- Crate Management -->
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/cratemanagement">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Crate Management</span>
          </a>
        </div> -->
        <!-- Billing -->
        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/billingcounter">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Billing Counter</span>
          </a>
        </div> -->


      </div>
    </div>

    <!-- warehouse: Managment -->
    <!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show" *ngxPermissionsOnly="['ADMIN']">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="delivery-door" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Store Management</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/warehouse-list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Store list</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="warehouse/add-warehouse">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Add Store</span>
          </a>
        </div>
      </div>
    </div> -->

    <!-- Catalog -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
      *ngxPermissionsOnly="['WEBTEAM', 'ADMIN','CONTENT']">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="lots-shopping" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Application </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <!-- Catalog Product -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/products">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title"> Products</span>
          </a>
        </div>
        <!-- Product Item -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/productitems">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Items</span>
          </a>
        </div>



        <!-- Tags -->
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/tags">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Bundled Products</span>
          </a>
        </div>

        

      </div>
    </div>
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
    *ngxPermissionsOnly="['WEBTEAM', 'ADMIN']">
    <span class="menu-link">
      <span class="menu-icon">
        <app-keenicon name="lots-shopping" class="fs-2 text-primary"></app-keenicon>
      </span>
      <span class="menu-title">Orders Management </span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">  
      <!-- Catalog Orders -->
      <div class="menu-item">
        <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/orders">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title"> Orders</span>
        </a>
      </div>

      <!-- Catalog Orders -->
      <div class="menu-item">
        <a class="menu-link without-sub" routerLink="catalog/invoice">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title"> Invoice</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/manifest">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title"> Manifest Invoies</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link without-sub" routerLink="catalog/returns">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Returned Order</span>
        </a>
      </div>

      <div class="menu-item">
        <a class="menu-link without-sub" routerLink="catalog/returninvoices">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Returned Invoice</span>
        </a>
      </div>


    </div>
  </div>
    
    <!-- 2. Catalog Page Setting -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
    *ngxPermissionsOnly="['WEBTEAM', 'ADMIN']">
      <!-- Page Settings -->
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="book-square" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Application Controls</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">

        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="catalog/homesettings/web">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title"> Web Controls</span>
          </a>
        </div>
        <!-- Category -->
        <div class="menu-item" >
          <a class="menu-link without-sub" routerLink="catalog/categories">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Category</span>
          </a>
        </div>
        <!-- Subcategory -->
        <div class="menu-item" >
          <a class="menu-link without-sub" routerLink="catalog/subcategories">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Sub Category</span>
          </a>
        </div>
        <!-- Group -->
        <div class="menu-item" >
          <a class="menu-link without-sub" routerLink="catalog/groups">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Group</span>
          </a>
        </div>
      </div>

    </div>

    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
    *ngxPermissionsOnly="['CONTENT']">
      <!-- Page Settings -->
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="book-square" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Application Controls</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">

        
        <!-- Category -->
        <div class="menu-item" >
          <a class="menu-link without-sub" routerLink="catalog/categories">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Category</span>
          </a>
        </div>
        <!-- Subcategory -->
        <div class="menu-item" >
          <a class="menu-link without-sub" routerLink="catalog/subcategories">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Sub Category</span>
          </a>
        </div>
        <!-- Group -->
        <div class="menu-item" >
          <a class="menu-link without-sub" routerLink="catalog/groups">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Group</span>
          </a>
        </div>
      </div>
    
    </div>
    <!-- Webteam -->
    <!-- <div
      class="menu-item menu-accordion"
      data-kt-menu-trigger="click"
      routerLinkActive="here show"
      *ngxPermissionsOnly="['ADMIN', 'WEBTEAM']"
    >
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="delivery-door" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Blogs</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/blogs">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Blog list</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/add-blog">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Add Blog</span>
          </a>
        </div>
      </div>
    </div>
    <div
      class="menu-item menu-accordion"
      data-kt-menu-trigger="click"
      routerLinkActive="here show"
      *ngxPermissionsOnly="['WEBTEAM', 'ADMIN']"
    >
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="delivery-door" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">News Letters</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/news">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Newsletters list</span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/add-newsletter">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Add Newsletter</span>
          </a>
        </div>
      </div>
      <div
        class="menu-item menu-accordion"
        data-kt-menu-trigger="click"
        routerLinkActive="here show"
        *ngxPermissionsOnly="['WEBTEAM', 'ADMIN']"
      >
        <span class="menu-link">
          <span class="menu-icon">
            <app-keenicon name="abstract-12" class="fs-2 text-primary"></app-keenicon>
          </span>
          <span class="menu-title">Live Events</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/live-events">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Live Events list</span>
            </a>
          </div>

          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/add-event">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Add Live Events</span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="menu-item menu-accordion"
        data-kt-menu-trigger="click"
        routerLinkActive="here show"
        *ngxPermissionsOnly="['WEBTEAM', 'ADMIN']"
      >
        <span class="menu-link">
          <span class="menu-icon">
            <app-keenicon name="delivery-door" class="fs-2 text-primary"></app-keenicon>
          </span>
          <span class="menu-title">Video Call</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/video">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Video Call Requests</span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="menu-item menu-accordion"
        data-kt-menu-trigger="click"
        routerLinkActive="here show"
        *ngxPermissionsOnly="['WEBTEAM', 'ADMIN']"
      >
        <span class="menu-link">
          <span class="menu-icon">
            <app-keenicon name="delivery-door" class="fs-2 text-primary"></app-keenicon>
          </span>
          <span class="menu-title">Testimonials</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/testimonials">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Testimonials list</span>
            </a>
          </div>

          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="catalog/add-testimonials">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Add Testimonial</span>
            </a>
          </div>
        </div>
      </div>

      <!-- 3. catalog Offers -->
    <!-- <div
      class="menu-item menu-accordion"
      data-kt-menu-trigger="click"
      routerLinkActive="here show"
      *ngxPermissionsOnly="['WEBTEAM', 'ADMIN']"
    >
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="discount" class="fs-2 text-primary"></app-keenicon>
        </span>
        <span class="menu-title">Offers</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" href="#">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Offer Group</span>
          </a>
        </div>
      </div>
    </div> -->


    <!-- <div
        class="menu-item menu-accordion"
        data-kt-menu-trigger="click"
        routerLinkActive="here show"
        *ngxPermissionsOnly="['WEBTEAM', 'ADMIN']"
      >
        <span class="menu-link">
          <span class="menu-icon">
            <app-keenicon name="notification-on" class="fs-2 text-primary"></app-keenicon>
          </span>
          <span class="menu-title">Notification</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLink="catalog/notifications">
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Push Notification</span>
            </a>
          </div>
        </div>
      </div> -->


    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
      *ngxPermissionsOnly="['CUSTOMER_SUPPORT', 'ADMIN', 'WEBTEAM']">
      <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
        *ngxPermissionsOnly="['CUSTOMER_SUPPORT', 'ADMIN']">
        <span class="menu-link">
          <span class="menu-icon">
            <app-keenicon name="message-question" class="fs-2 text-primary"></app-keenicon>
          </span>
          <span class="menu-title">Support</span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
          <!-- Reason Management -->
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="customer-support/reasons">
              <!-- routerLink="customer-support/ordertickets" -->
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Reason Management</span>
            </a>
          </div>
          <!-- All Refunds -->
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="customer-support/orders/refunds">
              <!-- routerLink="customer-support/ordertickets" -->
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">All Refunds</span>
            </a>
          </div>
          <!-- Cancel Order -->
          <div class="menu-item">
            <a class="menu-link without-sub" routerLinkActive="active" routerLink="customer-support/salesorders/cancel">
              <!-- routerLink="customer-support/ordertickets" -->
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Cancel Order</span>
            </a>
          </div>
        </div>
      </div>

      <!-- 3.Customer support -->

      <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
        *ngxPermissionsOnly="['CUSTOMER_SUPPORT', 'ADMIN', 'WEBTEAM']">
        <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
          *ngxPermissionsOnly="['CUSTOMER_SUPPORT', 'ADMIN', 'WEBTEAM']">
          <span class="menu-link">
            <span class="menu-icon">
              <app-keenicon name="medal-star" class="fs-2 text-primary"></app-keenicon>
            </span>
            <span class="menu-title">Rating & Review</span>
            <span class="menu-arrow"></span>
          </span>
          <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
            <!-- Rating & Review -->
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="customer-support/users/user-rating">
                <!-- routerLink="customer-support/ordertickets" -->
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Rating & Review</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Orders -->
        <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
          *ngxPermissionsOnly="['ADMIN']">
          <span class="menu-link">
            <span class="menu-icon">
              <app-keenicon name="basket-ok" class="fs-2 text-primary"></app-keenicon>
            </span>
            <span class="menu-title">Orders </span>
            <span class="menu-arrow"></span>
          </span>
          <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
            <!-- New Orders -->
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active" href="#"
                routerLink="customer-support/salesorders/skulevel">
                <!-- routerLink="order/new-order" -->
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">All orders</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--end::Menu-->
    </div>
    <!--end::Menu wrapper-->
  </div>
</div>