<html>
                        <div>
                            <h4 class="float-end font-size-16 mb-0">P.O Number : PO_000000008 <br />
                
                            <span class="font-size-14 text-end">Date : Sep 16, 2022</span>
                
                            </h4>
                
                            <div class="mb-4">
                            <img src="./public/logo-dark.png" alt="logo" height="20" />
                            </div>
                        </div>
                        <hr>
                        <div style="display: flex; flex-wrap: wrap; margin-top: calc(-1 * var(--bs-gutter-y)); margin-right: calc(-0.5 * var(--bs-gutter-x)); margin-left: calc(-0.5 * var(--bs-gutter-x));">
                            <div style="flex: 0 0 auto; width: 100%;">
                            <table width="100%">
                                <tr>
                                <td>
                                    <h3 class="font-size-15 fw-bold">Billing Address</h3>
                                    <table>
                                    <tr>
                                        <td>
                                        <span> ABCD 1st Nagar, <br/></span>
                                        <span> 2nd street,<br/> </span>
                                        <span> Chennai, <br/></span>
                                        <span> Tamil Nadu,<br/> </span>
                                        <span> 600061, <br/></span>
                                        <span> Tamil Nadu,</span>
                                        <br>
                                        </td>
                                    </tr>
                                    </table>
                                </td>
                                <td>
                                    <h3 class="font-size-15 fw-bold">Shipping Address</h3>
                                    <table>
                                    <tr>
                                        <td>

                                        <span> Mugdha, <br /></span>
                                        <span> Streling Road, <br /></span>
                                        <span> Chennai 600034 <br /></span>

                                        </td>
                                    </tr>
                                    </table>
                                </td>
                                <td>
                                    <h3 class="font-size-15 fw-bold">Vendor Details</h3>
                                    <table>
                                    <tr>
                                        <td>Test Vendor <br />
                                        9003085229 <br />
                                        testvendor123@gmail.com <br />

                                        </td>
                                    </tr>
                                    </table>
                                </td>
                                </tr>
                            </table>
                            </div>
                        </div>

                        <div class="py-2 mt-3">
                            <h3 class="font-size-15 fw-bold">Product Item summary</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-nowrap">
                            <thead>
                                <tr>
                                <th style="padding-left: 5px !important">No.</th>
                                <th>Name & ID</th>
                                <th>Image</th><th>Color</th> <th>Price</th>
                                <th>Qty</th>
                                <th>Subtotal</th>
                                <th align="center">Discount<br />type</th>
                                <th>Discount</th>
                                <th align="center">Discount<br />Total(&#8377;)</th>
                                <th>Total</th><th>CGST<br />%</th><th>SGST<br />%</th><th>CGST<br />INR</th><th>SGST<br />INR</th><th>Grand<br />Total(&#8377;)</th>
                                        </tr>
                                    </thead>
                                    <tbody><tr>
                                    <td style="padding-left: 5px !important"> <strong>01, </strong></td>
                                    <td colspan="2">Preethi Mixie
                                        <table width="100%">
                                            <tr>
                                            <td>PREE001</td>
                                            <td>
                                                <img style="width: 100px; height: 100px;" alt="Product" src="https://ssmart-s3.s3.amazonaws.com/1663218897397__mixie.jpg" />
                                            </td>
                                            </tr>
                                        </table>
                                    </td><td><div><span>Blue</span></div></td><td>&#8377; 2500</td>
                                                <td>75</td>
                                                <td>&#8377;187500</td>
                                                <td><span> Overall </span></td><td></td>
                                        <td>&#8377;9375</td>
                                        <td>&#8377; 178125</td><td>18%</td><td>18%</td>
                                                <td >&#8377;32062.5</td>
                                                <td >&#8377;32062.5</td><td><strong>&#8377;242250</strong></td>
                                        </tr></tbody>
                                            <tfoot>
                                                <tr>
                                                <td align="center" colspan="6"><strong>Total</strong></td>
                                                <td><strong>&#8377; 187500</strong></td>
                                                <td></td>
                                                <td></td>
                                                <td><strong>&#8377; 9375</strong></td>
                                                <td><strong>&#8377; 178125 </strong></td>
                                                <td colspan="2"></td><td><strong>&#8377; 32062.5</strong></td><td><strong>&#8377; 32062.5</strong></td><td><strong>&#8377; 242250</strong></td>
                                                </tr>

                                            </tfoot>
                                </table> 
                          </div>
                          <div class="py-2 mt-3">
                            <h3 class="font-size-15 fw-bold"> P.O Summary</h3>
                        </div>
                        <table id="datatable" class="table table-bordered dt-responsive nowrap"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;" bgcolor="#ffffff">
                            <thead bgcolor="#ffc107">
                            <tr>
                                <th>Vendor Name</th>
                                <th>Location</th>
                                <th>P.O Date</th>
                                <th>Delivery Date</th>
                                <th>Subtotal</th>
                                <th>Discount total</th>
                                <th>Total</th>
                                <th>Taxtotal</th>
                                <th>Grand Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Test Vendor</td>
                                <td>ABCD 1st Nagar 2nd street</td>
                                <td>Sep 16, 2022</td>
                                <td>Sep 16, 2022</td>
                                <td><strong>&#8377; 187500</strong></td>
                                <td><strong>&#8377; 9375</strong></td>
                                <td><strong>&#8377; 178125</strong></td>
                                <td><strong>&#8377; 64125</strong></td>
                                <td><strong>&#8377; 242250</strong></td>
                            </tbody>
                        </table>    
                    </html>