<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!-- <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">{{ title }}</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/app']">Home</a></li>
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div>
            </div> -->
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-2">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="search"
                                        (keyup)="list()" />
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-hover">
                                <thead>
                                    <tr >
                                        <th scope="col" class=" text-center w-50px">#</th>
                                        <th scope="col">Order ID</th>
                                        <th scope="col">Refund ID</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">JuspayOrderID</th>
                                        <th scope="col">Juspaystatus</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Created At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of refunds; let i = index">
                                        <td class=" text-center "> {{ page === 1 ? i + 1 : i + 1 + pageSize * (page - 1) }}</td>
                                        <td>
                                            {{ order.orderID }}
                                        </td>
                                        <td>
                                            {{ order.refundID }}
                                        </td>
                                        <td>
                                            {{ order.amount }}
                                        </td>
                                        <td>
                                            {{ order.juspayOrderID }}
                                        </td>
                                        <td> {{ order.juspaystatus }} </td>
                                        <td> {{ order.status }} </td>
                                        <td> {{ order.type }} </td>
                                        <td>{{ order.createdAt | date: 'medium' }}</td>

                                    </tr>
                                    <tr *ngIf="refunds?.length === 0">
                                        <td colspan="12" align="center">No records found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination  -->
                        <div class="row justify-content-md-between align-items-md-center mt-2">
                            <div class="col-sm-12 col-md-4">
                                <div class="dataTables_length" id="tickets-table_length">
                                    <label class="d-inline-flex align-items-center">Show
                                        <select class="form-select form-select-sm ms-2 me-2"
                                            (change)="handlePageSizeChange($event)">
                                            <option *ngFor="let size of pageSizes" [ngValue]="size">
                                                {{ size }}
                                            </option>
                                        </select>
                                        Entries</label>
                                </div>
                            </div>
                            <!-- Pagination -->
                            <div class="col-sm-12 col-md-8">
                                <div class="text-md-right float-md-end pagination-rounded">
                                    <ngb-pagination class="pagination pagination-rounded justify-content-center mt-4"
                                        size="lg" [(page)]="page" [pageSize]="pageSize"
                                        (pageChange)="handlePageChange($event)" [collectionSize]="count" [rotate]="true"
                                        [maxSize]="10" [boundaryLinks]="true" [directionLinks]="true" [ellipses]="true">
                                        <ng-template ngbPaginationPrevious><i class="mdi mdi-chevron-left"></i>
                                        </ng-template>
                                        <ng-template ngbPaginationNext><i
                                                class="mdi mdi-chevron-right"></i></ng-template>
                                    </ngb-pagination>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination  -->
                    </div>
                </div>
            </div>
        </div>
    </div>