<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!-- <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">All {{ ticketStatus }} Ticket</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/app']">Home</a></li>
                        <li class="breadcrumb-item active">
                            All {{ ticketStatus }} Ticket
                        </li>
                    </ol>
                </div>
            </div> -->
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <!-- Search -->
            <!-- <div class="col-sm-2">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="search"
                                        (keyup)="getTicketsList()" />
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div> -->
            <div class="col-sm-2 py-2">
              <div class="d-flex align-items-center position-relative my-1 px-1">
                <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
                <input
                  type="text"
                  placeholder="Search.."
                  (keyup)="getTicketsList()"
                  [(ngModel)]="search"
                  class="form-control form-control-solid ps-12"
                  #input
                />
              </div>
            </div>
            <!-- Dropdown 1 -->
            <div class="col-sm-2 py-2">
              <div *ngIf="ticketStatusOption.length">
                <ng-select
                  name="qdp"
                  placeholder="Select Status"
                  [items]="ticketStatusOption"
                  bindLabel="displayName"
                  bindValue="value"
                  [(ngModel)]="currentStatus"
                  (change)="changeTicketStatus($event)"
                >
                </ng-select>
              </div>
            </div>
            <!-- Dropdown 2 -->
            <div class="col-sm-2 py-2">
              <ng-select
                name="qdp"
                placeholder="Select Date"
                [items]="quickDatePickerInput"
                bindLabel="displayName"
                bindValue="value"
                [(ngModel)]="selectedDate"
                (change)="changeQuickDatePicker($event)"
              >
              </ng-select>
            </div>
            <!-- From Date -->
            <div class="col-sm-3 py-2">
              <div class="dp-hidden position-absolute">
                <div class="input-group">
                  <input
                    name="datepicker"
                    class="form-control"
                    ngbDatepicker
                    #datepicker="ngbDatepicker"
                    [autoClose]="'outside'"
                    (dateSelect)="onDateSelection($event)"
                    [displayMonths]="2"
                    [dayTemplate]="t"
                    outsideDays="hidden"
                    [startDate]="ngbFromDate!"
                    tabindex="-1"
                  />
                  <ng-template #t let-date let-focused="focused">
                    <span
                      class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null"
                    >
                      {{ date.day }}
                    </span>
                  </ng-template>
                </div>
              </div>
              <div class="input-group">
                <input
                  #dpFromDate
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dpFromDate"
                  [value]="formatter.format(ngbFromDate)"
                  (input)="ngbFromDate = validateInput(ngbFromDate, dpFromDate.value)"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button">
                  <i class="fas fa-calendar-alt fa-fw"></i>
                </button>
              </div>
            </div>
            <!-- To Date -->
            <div class="col-sm-3 py-2">
              <div class="input-group">
                <input
                  #dpToDate
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dpToDate"
                  [value]="formatter.format(ngbToDate)"
                  (input)="ngbToDate = validateInput(ngbToDate, dpToDate.value)"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button">
                  <i class="fas fa-calendar-alt fa-fw"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-left gs-0 gy-5">
              <thead>
                <tr>
                  <th class="p-5 w-50px">#</th>
                  <th class="text-start p-5">Ticket ID</th>
                  <th class="text-start p-5">Title</th>
                  <th class="text-start p-5">Description</th>
                  <th class="text-start p-5">Status</th>
                  <th class="text-start p-5">Customer Name</th>
                  <th class="text-start p-5">Customer ID</th>
                  <th class="text-start p-5">Created At</th>
                  <th class="text-start p-5">Updated At</th>
                  <th class="text-start p-5">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets; let i = index">
                  <td class="text-center">
                    {{ page == 1 ? i + 1 : i + 1 + pageSize * (page - 1) }}
                  </td>
                  <td>
                    <h5 class="font-size-14 mb-1">
                      <a
                        target="_blank"
                        rel="noopener"
                        style="color: #556ee6 !important"
                        [routerLink]="[getRoute(), ticket.ticketID, ticket.orderitem_uuid]"
                        class="text-dark"
                        >{{ ticket.ticketID }}</a
                      >
                    </h5>
                  </td>
                  <td>{{ ticket.title || '--' }}</td>
                  <td>{{ ticket.description || '--' }}</td>
                  <td>{{ ticket.status || '--' }}</td>
                  <td>{{ ticket?.user?.name || '--' }}</td>
                  <td>{{ ticket?.user?.uid || '--' }}</td>
                  <!-- <td>{{ ticket?.user?.mobile || "--" }}</td> -->
                  <td>{{ ticket.createdAt | date : 'mediumDate' || '--' }}</td>
                  <td>{{ ticket.updatedAt | date : 'mediumDate' || '--' }}</td>
                  <td>
                    <ul class="list-inline font-size-20 contact-links mb-0">
                      <li class="list-inline-item px-1">
                        <a
                         (click)="viewTicket(ticket.ticketID, ticket.orderitem_uuid)"
                          
                          ngbTooltip="View Group"
                          ><app-keenicon name="eye" class="fs-1 text-primary cursor-pointer"></app-keenicon
                        ></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="tickets?.length === 0">
                  <td colspan="12" align="center">No Records Found</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Pagination  -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-8">
              <div class="dataTables_length" id="tickets-table_length">
                <label class="d-inline-flex align-items-center"
                  >Show
                  <select class="form-select form-select-sm ms-2 me-2" (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                  Entries</label
                >
              </div>
            </div>
            <!-- Pagination -->
            <!-- <div class="col-sm-12 col-md-8">
                            <div class="text-md-right float-md-end pagination-rounded">
                                <ngb-pagination class="pagination pagination-rounded justify-content-center mt-4"
                                    size="lg" [(page)]="page" [pageSize]="pageSize"
                                    (pageChange)="handlePageChange($event)" [collectionSize]="count">
                                    <ng-template ngbPaginationPrevious><i class="mdi mdi-chevron-left"></i>
                                    </ng-template>
                                    <ng-template ngbPaginationNext><i class="mdi mdi-chevron-right"></i></ng-template>
                                </ngb-pagination>
                            </div>
                        </div> -->
            <div class="col-sm-12 col-md-4">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [maxSize]="5"
                  [rotate]="true"
                  [ellipses]="false"
                  [boundaryLinks]="true"
                  (pageChange)="handlePageChange($event)"
                  [collectionSize]="count"
                ></ngb-pagination>
              </div>
            </div>
          </div>
          <!-- Pagination  -->
        </div>
      </div>
    </div>
  </div>
</div>
