<div class="card mb-5 mb-xl-10 p-3">
    <div class="col-lg-12">
        <div class="card-body">
            <div class="row mb-5">
                <!-- Search -->
                <div class="d-flex align-items-center position-relative my-1 px-1">
                    <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <input type="text" (keyup)="searchTable($event)" placeholder="Search Invoice No"
                        class="form-control form-control-solid ps-12 w-200px" #input>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-left table-nowrap table-hover">
                    <thead>
                        <tr>
                            <th class="p-4 w-50px">S.No</th>
                            <th class="text-start p-4 min-w-80px">Invoice No.</th>
                            <th class="text-start p-4 min-w-80px">P.O ID</th>
                            <th class="text-start p-4 min-w-100px">P.O Date</th>
                            <th class="text-start p-4 min-w-100px">Supplier Name</th>
                            <th class="text-start p-4 min-w-80px">No. of Products</th>
                            <th class="text-start p-4 min-w-80px"> Total Quantity</th>
                            <th class="text-start p-4 min-w-80px"> PO Value </th>
                            <th class="text-start p-4 min-w-80px"> PO Status </th>
                            <th class="text-start p-4 min-w-80px"> GRN Status </th>
                            <th class="text-start p-4 min-w-80px"> PO Link </th>
                            <th class="text-start p-4 min-w-80px"> Invoice </th>
                            <th class="text-start p-4 min-w-100px"> Attached Document </th>
                            <th class="text-start p-4 min-w-80px"> Recepit ID </th>
                            <th class="text-start p-4 min-w-80px"> Recepit Value </th>
                            <th class="text-center p-4 min-w-100px">Recepit Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grn of grns; let i = index">
                            <td class="p-4 text-center">{{(page == 1 ? i+1 : (i+1)+(pageSize*(page-1))) }}</td>
                            <td class="p-4">
                                {{grn.invoiceno}}
                            </td>
                            <td class="p-4 fw-bold"><a [routerLink]="['/finance/po/view/'+grn?.purchaseorder?.uuid]">
                                    {{grn?.purchaseorder?.uuid}}
                                </a>
                            </td>
                            <td class="p-4">{{grn.receiveddate | date:'mediumDate'}}</td>
                            <td class="p-4">
                                <p class="badge badge-light-info">{{grn.purchaseorder?.user?.name}}</p>
                            </td>
                            <td class="p-4 text-center">{{(grn.totalitems)}}</td>
                            <td class="p-4 text-center">{{grn.receiveditems}}</td>
                            <td class="p-4">{{numberFormat(grn.purchaseorder?.grandtotal)}}</td>
                            <!--PO Value-->
                            <td class="p-4">
                                <p class="badge badge-light-info">{{grn.purchaseorder?.status}}</p>
                            </td>
                            <td class="p-4">{{(grn.purchaseorder?.ship_status)}}</td>
                            <td class="p-4 fw-bold"><a [routerLink]="['/finance/po/view/'+grn?.purchaseorder?.uuid]">View PO</a>
                            </td>
                            <td class="p-4">{{grn.purchaseorder?.invoiceno}}</td>
                            <td class="p-4"> <a href="{{grn.purchaseorder?.invoice}}" download>Download invoice</a>
                            </td>
                            <!--download attachment-->
                            <!-- <td class="p-4">{{ changestatus[order.status || ''] ? changestatus[order.status || ''] :
                                        order.status }}</td>
                                    <td class="p-4">{{order.ship_status == 'Inward' ? 'Shipped':order.ship_status}}</td> -->
                            <td class="p-4">{{grn.grnid}}</td>
                            <td class="p-4">{{numberFormat(grn.grnvalue)}}</td>
                            <td class="p-4 text-center">
                                <button class="btn btn-sm btn-primary"
                                    [routerLink]="['/finance/invoices/grn/'+grn?.purchaseorder?.uuid]">Recepit</button>
                            </td>
                        </tr>
                        <tr *ngIf="grns?.length === 0">
                            <td colspan="12" class="text-center fw-bold">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Pagination  -->
            <div class="row justify-content-md-between align-items-md-center mt-2">
                <div class="col-sm-12 col-md-8">
                    <div class="dataTables_length" id="tickets-table_length"><label
                            class="d-inline-flex align-items-center">Show
                            <select class="form-select form-select-sm ms-2 me-2"
                                (change)="handlePageSizeChange($event)">
                                <option *ngFor="let size of pageSizes" [ngValue]="size">
                                    {{ size }}
                                </option>
                            </select> Entries</label></div>
                </div>
                <!-- Pagination -->
                <div class="col-sm-12 col-md-4">
                    <div class="text-md-right float-md-end pagination-rounded">
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true"
                            [ellipses]="false" [boundaryLinks]="true" (pageChange)="handlePageChange($event)"
                            [collectionSize]="count"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>