<div class="submit-form">
    <form (ngSubmit)="saveProductvariants()" [formGroup]="formData" novalidate>
        <div class="row">
            <div class="col-12">
                <!-- <div class="mb-3">
                    <label class="form-label required"> Select Department</label>
                    <select class="form-select" type="text" name="department_id" formControlName="department_id"
                        (change)="getSelectvalues()"
                        [ngClass]="{'is-invalid': (submit && form['department_id']?.errors) || (form['department_id']?.invalid && (form['department_id']?.dirty || form['department_id']?.touched))}">
                        <option *ngFor="let department of departments" [value]="department.did">{{ department.name }}
                        </option>
                    </select>
                    <div *ngIf="(submit && form['department_id']?.errors) || (form['department_id']?.invalid && (form['department_id']?.dirty || form['department_id']?.touched))"
                        class="invalid-feedback">
                        <span *ngIf="form['department_id'].errors?.['required']">Select Department</span>
                    </div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label required"> Select Category</label>
                    <select class="form-select" type="text" name="category_id" formControlName="category_id"
                        [ngClass]="{'is-invalid': (submit && form['category_id']?.errors) || (form['category_id']?.invalid && (form['category_id']?.dirty || form['category_id']?.touched))}">
                        <option value="">Select Category</option>
                        <option *ngFor="let cat of categories" [value]="cat.cid">{{ cat.name }}</option>
                    </select>
                    <div *ngIf="(submit && form['category_id']?.errors) || (form['category_id']?.invalid && (form['category_id']?.dirty || form['category_id']?.touched))"
                        class="invalid-feedback">
                        <span *ngIf="form['category_id'].errors?.['required']">Select Category</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label required">Subcategory Name</label>
                    <input class="form-control" placeholder="Enter Subcategory Name" type="text" name="name"
                        autocomplete="off" formControlName="name"
                        [ngClass]="{'is-invalid': (submit && form['name']?.errors) || (form['name']?.invalid && (form['name']?.dirty || form['name']?.touched))}" />

                    <div *ngIf="(submit && form['name']?.errors) || (form['name']?.invalid && (form['name']?.dirty || form['name']?.touched))"
                        class="invalid-feedback">
                        <span *ngIf="form['name'].errors?.['required']">Enter Subcategory name.</span>
                        <span *ngIf="form['name'].errors?.['minlength']">Minimum Length 3
                            Characters.</span>
                    </div>
                </div>
                
                
                <div class="mb-3">
                    <label class="form-label"> Description</label>
                    <textarea class="form-control" placeholder="Enter Description" type="text" name="description"
                        autocomplete="off" formControlName="description"
                        [ngClass]="{'is-invalid': (submit && form['description']?.errors) || (form['description']?.invalid && (form['description']?.dirty || form['description']?.touched))}"></textarea>
                </div>
                <div class="mb-3" *ngIf="data.uuid">
                    <label class="form-label"> Status *</label>
                    <select class="form-control" type="text" name="status" formControlName="status"
                        [ngClass]="{'is-invalid': (submit && form['status']?.errors) || (form['status']?.invalid && (form['status']?.dirty || form['status']?.touched))}">
                        <option *ngFor="let stat of statuses" [value]="stat.id">{{ stat.name }}</option>
                    </select>
                </div>
                <div class="d-md-flex align-items-center mt-5">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <button type="button" class="btn btn-sm btn-secondary"
                                (click)="cancelAction()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>