<div class="col-sm-12">
    <!-- <h4 class="mb-0 font-size-18 pb-3">Trash List</h4> -->
  </div>
<div class="card mb-5 mb-xl-10 py-5">
  <div class="card-header card-title pb-5">
    <!--begin::Search-->
    <div class="col-sm-3">
      <div class="d-flex align-items-center position-relative mt-5 px-1">
        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
        <input
          type="text"
          placeholder="Search by name,barcode.."
          (keyup)="searchTable($event)"
          class="form-control form-control-solid ps-12 mt-1"
          #input
        />
      </div>
    </div>
    <div class="col-sm-5"></div>
    <!-- Add New Product -->
    
    <!-- <div class="col-sm-2" style="padding-top: 0.5%">
      <div class="text-sm-end">
        <button type="button" class="btn btn-primary btn-rounded mt-3" [routerLink]="['/warehouse/stockqc-list']">
          <i class="mdi mdi-plus mr-1"></i> Barcode List
        </button>
      </div>
    </div> -->
    <div class="col-sm-2" style="padding-top: 0.5%">
      <div class="text-sm-end">
        <button type="button" class="btn btn-primary btn-rounded mt-3" [routerLink]="['/warehouse/stockqc-barcode']">
          <i class="mdi mdi-plus mr-1"></i> Scan QRCode
        </button>
      </div>
    </div>
  </div>

  <div class="card-body pt-1 pb-0">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table align-middle table-hover">
          <thead>
            <tr>
              <th class="p-5 w-70px">#</th>
              <th class="text-start w-200px p-5 min-w-100px">Supplier Name</th>
              <th class="text-start p-5 min-w-100px">Shelf ID</th>
              <th class="text-start p-5 min-w-100px">BarCode</th>
              <th class="text-start p-5 min-w-100px">Quantity</th>
              <th class="text-center p-5 min-w-100px">Image</th>
              <th class="text-center p-5 min-w-100px">Status</th>
              <th class="text-center p-5 min-w-100px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let warehouse of warehouses; let i = index">
              <td class="text-center fw-bold p-5">{{ page == 1 ? i + 1 : i + 1 + pageSize * (page - 1) }}</td>
              <td class="p-5">
                <strong
                  ><a href="javascript: void(0)" class="text-dark"></a>
                  {{ warehouse.name }}
                </strong>
              </td>
              <td class="p-5">
                <span *ngIf="warehouse.shelf_id == ''">--</span>
                <span *ngIf="warehouse.shelf_id !== ''">{{ warehouse.shelf_id }}</span>
              </td>
              <td class="p-5">{{ warehouse.barcode }}</td>
              <td class="p-5">
                <span *ngIf="warehouse.qty == null">--</span>
                <span *ngIf="warehouse.qty !== null">{{ warehouse.qty }}</span>
              </td>
              <td width="10%" class="text-center">
                <img *ngIf="warehouse.image !== ''" src="{{ warehouse?.image }} " style="width: 100px; height: 100px" />
                <img
                  *ngIf="warehouse.image == ''"
                  src="../../../../../assets/media/avatars/blank.png"
                  style="width: 100px; height: 100px"
                />
              </td>
              <td class="p-5 text-center">
                <div class="badge badge-light-danger">{{ warehouse.status === 0 ? 'Not Active' : '' }}
                </div>
                <div class="badge badge-light-danger">{{ warehouse.status === -1 ? 'Inactive' : '' }}
                </div>
                <div class="badge badge-light-primary">{{ warehouse.status === 1 ? 'Active' : '' }}</div>
              </td>
                <td class="p-5">
                    <select class="form-control" (change)="changeStatus($event,warehouse.id)">
                        <option value="0" selected>Inactive</option>
                        <option value="1" >Active</option>
                    </select>
                  </td>
              
              
            </tr>
            <tr *ngIf="warehouses?.length === 0">
              <td colspan="7" class="text-center fw-bold">No Records Found</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination  -->
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-4">
          <div class="dataTables_length" id="tickets-table_length">
            <label class="d-inline-flex align-items-center"
              >Show
              <select class="form-select form-select-sm ms-2 me-2 cursor-pointer" (change)="handlePageSizeChange($event)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
              Entries</label
            >
          </div>
        </div>
        <!-- Pagination -->
        <div class="col-sm-12 col-md-8">
          <div class="text-md-right float-md-end pagination-rounded">
            <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [maxSize]="5"
              [rotate]="true"
              [ellipses]="false"
              [boundaryLinks]="true"
              (pageChange)="handlePageChange($event)"
              [collectionSize]="count"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
