<div class="card mb-5 mb-xl-10">
  <div class="card-header align-items-center py-0 gap-2 gap-md-5 mx-5">
    <div class="col-sm-3">
      <div class="d-flex align-items-center position-relative my-1 px-1">
        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
        <input type="text" (keyup)="searchTable($event)" placeholder="Search by P.O"
          class="form-control form-control-solid ps-12" #input>
      </div>
    </div>

    <div class="col-sm-3">
      <label class="form-label"> Select Supplier</label>
      <ng-select name="brand" placeholder="Select Supplier" [items]="vendors" bindLabel="name" bindValue="uid"
        [(ngModel)]="selectedVendor" (change)="changeVendor($event)">
      </ng-select>
    </div>
  </div>


  <div class="card-body pt-1 pb-0">
    <div class="card-body py-3">
      <div class="table-responsive">
        <table class="table align-left gs-0 gy-5 table-hover">
          <thead>
            <tr>
              <th class="p-3 w-50px">#</th>
              <th class="text-start p-3 min-w-100px">Invoice No.</th>
              <th class="text-start p-3 min-w-100px">Supplier</th>
              <th class="text-start p-3 min-w-100px">P.O ID</th>
              <th class="text-start p-3 min-w-100px">
                P.O Received Date
              </th>
              <th class="text-start p-3 min-w-50px">
                No.of Bundles
              </th>
              <th class="text-start p-3 min-w-50px">Bundles Received</th>
              <th class="text-start p-3 min-w-50px">Discrepancy</th>
              <th class="text-start p-3 min-w-100px">Status</th>

              <th class="text-start p-3 min-w-100px">Action</th>
              <th class="text-center p-3 min-w-150px">View Bundle QR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of purchaseorders; let i = index">
              <td class="p-3 w-50px">
                {{ page == 1 ? i + 1 : i + 1 + pageSize * (page - 1) }}
              </td>
              <td class="p-3">
                {{ order.invoiceno }}
              </td>
              <td class="p-3">
                <span class="badge badge-light-info">{{ order?.user?.name }}</span>
              </td>
              <td class="p-3">
                <span class="fw-bold mb-1">{{ order.uuid }}</span>
              </td>
              <td class="p-3">{{ order.updatedAt | date : "mediumDate" }}</td>
              <td class="p-3">
                {{ order.bundles?.length }}
              </td>
              <td class="p-3">
                {{ bundlereceivedarr[i] }}
              </td>
              <td class="p-3">{{ discrepancyarr[i] }}</td>

              <td class="p-3">{{ order.ship_status }}</td>
              <!-- <td>{{order.ship_status == 'Inward' ? 'Shipped':order.ship_status}}</td> -->
              <td class="p-3">
                <ul class="list-inline font-size-20 contact-links mb-0">
                  <li class="list-inline-item px-2">
                    <a [routerLink]="['/warehouse/orders/view/' + order.uuid]" ngbTooltip="View P.O"><b>View P.O</b></a>
                  </li>
                </ul>
              </td>
              <td class="text-center p-3">
                <a *ngIf="order.ship_status == 'Received'" [routerLink]="['/warehouse/bundles/inward/' + order.uuid]"
                  class="btn btn-sm btn-primary">Bundle QR</a>
                <span *ngIf="order.ship_status != 'Received'">--</span>
              </td>
            </tr>
            <tr *ngIf="purchaseorders?.length === 0">
              <td colspan="10" class="text-center fw-bold">No Records Found</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination  -->
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-4">
          <div class="dataTables_length" id="tickets-table_length">
            <label class="d-inline-flex align-items-center">Show
              <select class="form-select form-select-sm ms-2 me-2" (change)="handlePageSizeChange($event)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
              Entries</label>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="text-md-right float-md-end pagination-rounded">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
              [boundaryLinks]="true" (pageChange)="handlePageChange($event)" [collectionSize]="count"></ngb-pagination>
          </div>
        </div>
      </div>
      <!-- Pagination  -->
    </div>
  </div>
</div>