<div class="page-title d-flex flex-wrap me-3 flex-column justify-content-center">
  <h1 class="page-heading d-flex text-dark fw-bold fs-3 my-0 flex-column justify-content-center pb-5">Edit Blog</h1>
</div>
<div class="card mb-5 mb-xl-10">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body pt-1 pb-5">
        <form class="form-group" [formGroup]="formData" (ngSubmit)="saveUser()">
          <div class="row my-3">
            <div class="col-sm-12">
              <h4 class="card-title mb-4">Blog Details</h4>
            </div>
          </div>
          <div class="row" *ngIf="!edit"></div>

          <div class="row">
            <!-- first name -->
            <div class="col-sm-6 mb-3 fv-row fv-plugins-icon-container">
              <label class="form-label required fs-6 fw-semibold mb-2">Title</label>
              <input
                (change)="slugvariable($event)"
                class="form-control"
                placeholder="Enter title"
                type="text"
                name="title"
                autocomplete="off"
                formControlName="title"
                [ngClass]="{
                  'is-invalid':
                    (submit && form['title']?.errors) || (form['title']?.invalid && (form['title']?.dirty || form['title']?.touched))
                }"
              />

              <div
                *ngIf="(submit && form['title']?.errors) || (form['title']?.invalid && (form['title']?.dirty || form['title']?.touched))"
                class="invalid-feedback"
              >
                <span *ngIf="form['title'].errors?.['required']">Enter a valid title</span>
                <span *ngIf="form['title'].errors?.['minlength']">Minimum Length 3 Characters.</span>
                <span *ngIf="form['title'].errors?.['maxlength']">Title cannot exceed 150 characters.</span>
              </div>
            </div>
            <div class="col-sm-6 mb-3 fv-row fv-plugins-icon-container">
              <label class="form-label required fs-6 fw-semibold mb-2">Blog Image</label>
              <input
                class="form-control"
                placeholder="Select image"
                type="file"
                name="image"
                autocomplete="off"
                formControlName="image"
                (change)="onFileSelected($event)"
              />
              <img *ngIf="data.image" [src]="data.image" alt="Blog Image" width="100" height="100" />
              <div
                *ngIf="(submit && form['image']?.errors) || (form['image']?.invalid && (form['image']?.dirty || form['image']?.touched))"
                class="invalid-feedback"
              >
                <span *ngIf="form['image'].errors">Select valid image</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 mb-3 fv-row fv-plugins-icon-container">
              <label class="form-label required fs-6 fw-semibold required mb-2">Blog Slug</label>

              <input
                class="form-control"
                placeholder="Enter title"
                type="text"
                name="slug"
                autocomplete="off"
                formControlName="slug"
                [ngClass]="{
                  'is-invalid':
                    (submit && form['slug']?.errors) || (form['slug']?.invalid && (form['slug']?.dirty || form['slug']?.touched))
                }"
              />

              <div
                *ngIf="(submit && form['slug']?.errors) || (form['slug']?.invalid && (form['slug']?.dirty || form['slug']?.touched))"
                class="invalid-feedback"
              >
                <span *ngIf="form['slug'].errors?.['required']">Enter a valid title</span>
                <span *ngIf="form['slug'].errors?.['minlength']">Minimum Length 3 Characters.</span>
                <span *ngIf="form['slug'].errors?.['maxlength']">Title cannot exceed 100 characters.</span>
              </div>
            </div>
            <div class="col-sm-6 mb-3 fv-row fv-plugins-icon-container">
              <label class="form-label required fs-6 fw-semibold required mb-2">Status</label>
              <div class="col-sm-6">
                <select
                  class="form-control"
                  name="status"
                  formControlName="status"
                  [ngClass]="{
                    'is-invalid':
                      (submit && form['status']?.errors) || (form['status']?.invalid && (form['status']?.dirty || form['status']?.touched))
                  }"
                >
                  <option *ngFor="let stat of statuses" [value]="stat.id">{{ stat.name }}</option>
                </select>
              </div>
              <div
                *ngIf="
                  (submit && form['status']?.errors) || (form['status']?.invalid && (form['status']?.dirty || form['status']?.touched))
                "
                class="invalid-feedback"
              >
                <span *ngIf="form['status'].errors?.['required']">Enter valid status</span>
              </div>
            </div>
            <div class="col-sm-6 mb-3 fv-row fv-plugins-icon-container">
              <label class="form-label required fs-6 fw-semibold required mb-2">Content</label>
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                <ngx-editor
                  [editor]="editor"
                  [(ngModel)]="html"
                  [disabled]="false"
                  formControlName="content"
                  [placeholder]="'Type here...'"
                ></ngx-editor>
              </div>
              <div
                *ngIf="
                  (submit && form['content']?.errors) || (form['content']?.invalid && (form['content']?.dirty || form['content']?.touched))
                "
                class="invalid-feedback"
              >
                <span *ngIf="form['content'].errors?.['required']">Enter valid content</span>
                <span *ngIf="form['content'].errors?.['minlength']">Minimum Length 3 Characters.</span>
              </div>
              <!--  -->
              <div *ngIf="formData.get('content').touched && formData.get('content').invalid">
                <small class="text-danger" *ngIf="formData.get('content').hasError('required')"> Content is required. </small>
                <small class="text-danger" *ngIf="formData.get('content').hasError('emptyContent')"> Content cannot be empty. </small>
              </div>
              <!--  -->
            </div>
          </div>

          <div class="mt-6">
            <div class="text-sm-end">
              <a [routerLink]="['/catalog/blogs']" class="btn btn-sm btn-secondary me-4">Cancel</a>
              <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
