<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18"></h4>
        <!-- <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a [routerLink]="['/catalog']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/catalog/subcategories']">Subclass</a></li>
            <li class="breadcrumb-item active">View</li>
          </ol>
        </div> -->
      </div>

      <div class="card">
        <div class="card-body">
          <div class="row text-sm-end">
            <a (click)="editdept()"><i class="fa fa-edit" style="color: #a91be9; font-size: 20px" ngbTooltip="Edit"></i></a>
          </div>
          <form (ngSubmit)="saveDept()" [formGroup]="formData">
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3 row">
                  <label class="control-label col-sm-6">Name : </label>
                  <span class="col-sm-6" *ngIf="!show">{{ selectedCategory.name }}</span>
                  <div *ngIf="show" class="col-sm-6">
                    <input
                      *ngIf="show"
                      class="form-control"
                      type="text"
                      name="name"
                      autocomplete="off"
                      formControlName="name"
                      [ngClass]="{
                        'is-invalid':
                          (submit && form['name']?.errors) || (form['name']?.invalid && (form['name']?.dirty || form['name']?.touched))
                      }"
                    />
                    <div
                      *ngIf="(submit && form['name']?.errors) || (form['name']?.invalid && (form['name']?.dirty || form['name']?.touched))"
                      class="invalid-feedback"
                    >
                      <span *ngIf="form['name'].errors?.['required']">Enter valid name</span>
                      <span *ngIf="form['name'].errors?.['minlength']">Minimum Length 3 Characters.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-3 row">
                  <label class="control-label col-sm-6">Status : </label>
                  <span class="col-sm-6" *ngIf="!show">{{ selectedCategory.status === '1' ? 'Active' : 'Inactive' }}</span>
                  <div *ngIf="show" class="col-sm-6">
                    <select
                      class="form-control"
                      type="text"
                      name="status"
                      formControlName="status"
                      [ngClass]="{
                        'is-invalid':
                          (submit && form['status']?.errors) ||
                          (form['status']?.invalid && (form['status']?.dirty || form['status']?.touched))
                      }"
                    >
                      <option *ngFor="let stat of statuses" [value]="stat.id">{{ stat.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3 row">
                  <label class="control-label col-sm-6">Description : </label>
                  <span class="col-sm-6" *ngIf="!show">{{ selectedCategory.description }}</span>
                  <div *ngIf="show" class="col-sm-6">
                    <textarea
                      class="form-control"
                      placeholder="Enter Description"
                      type="text"
                      name="description"
                      autocomplete="off"
                      formControlName="description"
                      [ngClass]="{
                        'is-invalid':
                          (submit && form['description']?.errors) ||
                          (form['description']?.invalid && (form['description']?.dirty || form['description']?.touched))
                      }"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-3 row">
                  <label class="control-label col-sm-6">Position : </label>
                  <span class="col-sm-6" *ngIf="!show">{{ selectedCategory.position }}</span>
                  <div *ngIf="show" class="col-sm-6">
                    <input
                      *ngIf="show"
                      class="form-control"
                      type="text"
                      name="position"
                      autocomplete="off"
                      formControlName="position"
                      [ngClass]="{
                        'is-invalid':
                          (submit && cform['position']?.errors) ||
                          (cform['name']?.invalid && (cform['position']?.dirty || cform['position']?.touched))
                      }"
                    />
                    <div
                      *ngIf="
                        (submit && cform['position']?.errors) ||
                        (cform['position']?.invalid && (cform['position']?.dirty || cform['position']?.touched))
                      "
                      class="invalid-feedback"
                    >
                      <span *ngIf="cform['position'].errors?.['required']">Enter position</span>
                      <span *ngIf="cform['position'].errors?.['minlength']">Minimum Length 1 Characters.</span>
                      <span *ngIf="cform['position'].errors?.['min']">Enter 0 or greater value</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3 row">
                  <label class="control-label col-sm-6">Image : </label>
                  <!-- <img class="col-sm-6" *ngIf="!show">{{selectedBrand.image}}   -->
                  <span class="col-sm-6" *ngIf="!show"><img src="{{ fileName }}" alt="Icon" height="60" width="50" /></span>
                  <div *ngIf="show" class="col-sm-6">
                    <input
                      type="file"
                      class="file-input form-control"
                      (change)="onSelectedFile($event)"
                      autocomplete="off"
                      #fileupload
                      name="imgpath"
                      formControlName="imgpath"
                      [ngClass]="{
                        'is-invalid':
                          (submit && cform['imgpath'].errors) ||
                          (cform['imgpath'].invalid && (cform['imgpath'].dirty || cform['imgpath'].touched) && fileName == '')
                      }"
                    />
                    <p *ngIf="fileName != ''">Image size should be less than 500kb and ratio 1:1</p>
                    <a *ngIf="fileName != ''" target="_blank" href="{{ fileName }}"
                      ><img src="{{ fileName }}" alt="Icon" height="60" width="50" />
                    </a>
                    <div
                      *ngIf="
                        fileName == '' &&
                        ((submit && cform['imgpath']?.errors) ||
                          (cform['imgpath']?.invalid && (cform['imgpath']?.dirty || cform['imgpath']?.touched)))
                      "
                      class="invalid-feedback"
                    >
                      <span *ngIf="cform['imgpath'].errors?.['required']">Upload Image.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-3 row">
                  <label class="control-label col-sm-6">Slug Variable : </label>
                  <span class="col-sm-6" *ngIf="!show">{{ selectedCategory.slug }}</span>
                  <div *ngIf="show" class="col-sm-6">
                    <input
                      *ngIf="show"
                      class="form-control"
                      type="text"
                      name="slug"
                      autocomplete="off"
                      formControlName="slug"
                      [ngClass]="{
                        'is-invalid':
                          (submit && cform['slug']?.errors) ||
                          (cform['slug']?.invalid && (cform['slug']?.dirty || cform['slug']?.touched))
                      }"
                    />
                    <div
                      *ngIf="
                        (submit && cform['slug']?.errors) ||
                        (cform['slug']?.invalid && (cform['slug']?.dirty || cform['slug']?.touched))
                      "
                      class="invalid-feedback"
                    >
                      <span *ngIf="cform['slug'].errors?.['required']">Enter slug variable</span>
                      <span *ngIf="cform['slug'].errors?.['minlength']">Minimum Length 1 Characters.</span>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- <div *ngIf="!show" class="col-sm-3">
                <label>Selected Tags : </label>
              </div>
              <div *ngIf="!show" class="col-sm-9">
                <span style="float: left" *ngFor="let tag of tags; let i = index">
                  {{ tag.name }}<span *ngIf="tags.length !== i + 1">,&nbsp;</span>
                </span>
              </div> -->

              <!-- <div *ngIf="show" class="col-sm-4">
                <label for="typeahead-http" class="col-xs-3 col-sm-auto col-form-label">Search Tag </label>
                <div class="col">
                  <input
                    id="typeahead-template"
                    type="text"
                    class="form-control col"
                    [(ngModel)]="model"
                    [ngbTypeahead]="tagsearch"
                    [resultTemplate]="rt"
                    [inputFormatter]="formatter"
                    [resultFormatter]="formatter"
                    (selectItem)="itemSelected($event)"
                    [class.is-invalid]="searchFailed"
                  />

                  <small *ngIf="searching" class="form-text text-muted">searching...</small>
                  <div class="invalid-feedback" *ngIf="searchFailed && model?.length > 0">
                    Sorry, Your tag is not in our list contact our admin.
                  </div>
                </div>
              </div>
              <div *ngIf="show" class="col-sm-8">
                <label>Selected Tag</label>
                <div class="row" style="height: 50px; border: 1px solid #ccc; overflow-y: auto">
                  <div class="col-sm-2" *ngFor="let tag of tags; let i = index">
                    <span>{{ tag.name }}</span
                    >&nbsp;
                    <button
                      style="padding-top: 1px; padding-left: 1px"
                      (click)="clear(i)"
                      type="button"
                      aria-hidden="true"
                      class="btn-close btn-sm"
                    ></button>
                  </div>
                </div>
              </div> -->
            </div>

            <!-- <div class="row mt-4">
              <div *ngIf="!show" class="col-sm-3">
                <label>Selected Topleveltags : </label>
              </div>
              <div *ngIf="!show" class="col-sm-9">
                <span style="float: left" *ngFor="let tag of topleveltags; let i = index">
                  {{ tag.name }}<span *ngIf="topleveltags.length !== i + 1">,&nbsp;</span>
                </span>
              </div>

              <div *ngIf="show" class="col-sm-4">
                <label for="typeahead-http" class="col-xs-3 col-sm-auto col-form-label">Search Toplevel Tag </label>
                <div class="col">
                  <input
                    id="typeahead-template"
                    type="text"
                    class="form-control col"
                    [(ngModel)]="model"
                    [ngbTypeahead]="tagsearch"
                    [resultTemplate]="rt"
                    [inputFormatter]="formatter"
                    [resultFormatter]="formatter"
                    (selectItem)="itemSelectedtoplevel($event)"
                    [class.is-invalid]="searchFailed"
                  />

                  <small *ngIf="searching" class="form-text text-muted">searching...</small>
                  <div class="invalid-feedback" *ngIf="searchFailed && model?.length > 0">
                    Sorry, Your tag is not in our list contact our admin.
                  </div>
                </div>
              </div>
              <div *ngIf="show" class="col-sm-8">
                <label>Selected Toplevel Tags</label>
                <div class="row" style="height: 50px; border: 1px solid #ccc; overflow-y: auto">
                  <div class="col-sm-2" *ngFor="let tag of topleveltags; let i = index">
                    <span>{{ tag.name }}</span
                    >&nbsp;
                    <button
                      style="padding-top: 1px; padding-left: 1px"
                      (click)="cleartoplevel(i)"
                      type="button"
                      aria-hidden="true"
                      class="btn-close btn-sm"
                    ></button>
                  </div>
                </div>
              </div>
            </div> -->

            <div *ngIf="show" class="mt-2">
              <div class="text-sm-end">
                <a (click)="cancel()" class="btn btn-secondary me-4 btn-sm">Cancel</a>
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
              </div>
            </div>
          </form>

          <!-- <div class="row py-3">
            <div class="col-sm-12">
              <h4 class="card-title mb-4">{{ selectedCategory.name }} Page Setting</h4>
            </div>
          </div> -->

          <div class="mb-3">
            <div class="row">
              <div class="mb-3" *ngFor="let section of sections; let i = index">
                <div class="row">
                  <div class="col-3">
                    <label>Title</label>
                    <input name="title{{ section[i] }}" type="text" [(ngModel)]="sections[i].title" class="form-control" />
                  </div>
                  <div class="col-2">
                    <label>Type</label>
                    <ng-select
                      name="type{{ sections[i] }}"
                      placeholder="Select Type"
                      [items]="types"
                      bindLabel="label"
                      [ngModel]="sections[i].type"
                      (change)="onTypeChange($event)"
                      class="ng-select"
                      bindValue="id"
                    >
                    </ng-select>
                  </div>
                  <div class="col-1">
                    <label>Column</label>
                    <ng-select
                      name="column{{ sections[i] }}"
                      placeholder="Column Type"
                      [items]="showcolumns"
                      [(ngModel)]="sections[i].columns"
                      class="ng-select"
                      bindValue="id"
                    >
                    </ng-select>
                  </div>
                  <div class="col-2">
                    <label>Subtype</label>
                    <ng-select
                      name="group{{ section[i] }}"
                      placeholder="Select Subtype"
                      [items]="subtypes"
                      bindLabel="label"
                      bindValue="id"
                      [(ngModel)]="sections[i].subtype"
                      class="ng-select"
                    >
                    </ng-select>
                  </div>
                  <div class="col-1">
                    <label>Show Title</label>
                    <ng-select
                      name="showtitle{{ section[i] }}"
                      placeholder="Show"
                      [items]="showtitle"
                      bindLabel="label"
                      [(ngModel)]="sections[i].showtitle"
                      class="ng-select"
                      bindValue="id"
                    >
                    </ng-select>
                  </div>
                  <div class="col-1">
                    <label>Position</label>
                    <input name="ordering{{ section[i] }}" type="number" [(ngModel)]="sections[i].ordering" class="form-control" />
                  </div>
                  <div class="col-1">
                    <label>Status</label>
                    <select class="form-control" name="group{{ section[i] }}" [(ngModel)]="sections[i].status">
                      <option *ngFor="let stat of status" [value]="stat.id">{{ stat.label }}</option>
                    </select>
                    <!-- <ng-select name="group{{section[i]}}" placeholder="Status" [items]="status"
                                            bindLabel="label" bindValue="id" [(ngModel)]="sections[i].status" class="ng-select">
                                        </ng-select> -->
                  </div>
                  <div class="col-1" style="margin-top: 30px">
                    <a class="me-3" (click)="saveSection(sections[i])"
                      ><i class="fas fa-check-circle text-primary" style="font-size: 24px"></i
                    ></a>

                    <a class="float-end" (click)="removeSection(i, sections[i])"
                      ><i class="fas fa-archive text-danger" style="font-size: 24px"></i
                    ></a>
                  </div>
                  <div class="col-12">
                    <div class="dropzone col-12">
                      <div class="row">
                        <div class="col-xl-3 col-sm-4 mt-4" *ngFor="let image of section.sectionitems; let itemIndex = index">
                          <div class="product-img position-relative activeimg p-4" (click)="removeimage(image.id)">
                            <span class="editimg" (click)="editSelectedItem($event, image.id, content, itemIndex, i)">
                              <img class="img-fluid mx-auto d-block" src="{{ image?.path }}" alt="Mugdha" style="max-height: 200px" />
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="dz-wrapper dropzone mt-4 text-center" (click)="banner(content, i)">
                        <div class="dz-message">
                          <div class="dz-text">Click to add item</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 text-sm-end">
            <br />
            <button type="button" class="btn btn-primary btn-sm" (click)="addSection()">
              <i class="fas fa-plus"></i>
              Add Section
            </button>
          </div> -->
          <div class="row" *ngIf="!show">
            <!-- Product Parameter Name-->
            <div class="col-md-6">
              <div class="py-2 mt-3">
                <h3 class="font-size-15 fw-bold">Product Parameter Name</h3>
              </div>
              <table class="table table-responsive">
                <tbody>
                  <tr role="button" *ngFor="let param of productParameters; let i = index">
                    <td [ngClass]="{ highlight: selectedRowIndex == i }" style="width: 12px" *ngIf="param.uuid">
                      <input
                        type="checkbox"
                        (click)="toggleCheck(param.uuid, param.showinfilter || 0, true)"
                        [(ngModel)]="param.showinfilter"
                      />
                    </td>
                    <td [ngClass]="{ highlight: selectedRowIndex == i }" (click)="showProductParamTable(param, i)" *ngIf="param.uuid">
                      <span class="center">{{ param.name }}</span>
                      <div class="fa-pull-right">
                        <input
                          type="text"
                          [(ngModel)]="param.name_ta"
                          placeholder="press tab key to save"
                          (blur)="toggleCheck(param.uuid, param.showinfilter || 0, false, param.name_ta)"
                        />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Product Parameter Value-->
            <div class="col-md-6" *ngIf="showProductParameterValues && productParameterValues && productParameterValues.length > 0">
              <div class="py-2 mt-3">
                <h3 class="font-size-15 fw-bold">Product Parameter Value</h3>
              </div>
              <table class="table">
                <tbody>
                  <tr *ngFor="let eachProductParamValue of productParameterValues; let i = index">
                    <th class="center bg-primary bg-gradient" style="padding-left: 10px">
                      <span class="text-white">{{ eachProductParamValue.value }}</span>
                    </th>
                    <th class="center bg-primary bg-gradient" *ngIf="eachProductParamValue.id" style="padding-left: 10px">
                      <input
                        type="text"
                        [(ngModel)]="eachProductParamValue.value_ta"
                        placeholder="press tab key to save"
                        (blur)="OnProductParamValueBlur(eachProductParamValue.id + '', eachProductParamValue.value_ta)"
                      />
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="text-start ms-5" *ngIf="!show">
          <div class="mb-5">
            <button class="btn btn-primary btn-sm" [routerLink]="['/catalog/subcategories/']">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pop UP Open start -->
<!-- Pop UP Open start -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{ selectsection.type || '' }} Item ({{ selectsection.subtype || '' }})</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (submit)="saveSectionitem()" name="form" [formGroup]="sectionitemForm" novalidate>
      <div class="row p-2">
        <div class="col-8">
          <!-- {{sectionitemForm.value | json}} -->
          <div class="mb-3">
            <div class="display-block">
              <label class="control-label">Title</label>
              <input
                class="form-control"
                placeholder="Enter Title"
                type="text"
                name="title"
                autocomplete="off"
                formControlName="title"
                [ngClass]="{
                  'is-invalid':
                    (submit && form['title']?.errors) || (form['title']?.invalid && (form['title']?.dirty || form['title']?.touched))
                }"
              />

              <div
                *ngIf="(submit && form['title']?.errors) || (form['title']?.invalid && (form['title']?.dirty || form['title']?.touched))"
                class="invalid-feedback"
              >
                <span *ngIf="form['title'].errors">Enter Title</span>
              </div>
            </div>
            <br />
            <div class="form-check">
              <label>
                <input class="form-check-input" type="checkbox" name="showtitle" formControlName="showtitle" />
                Show Title</label
              >
            </div>
          </div>
          <!-- <div class="mb-3" *ngIf="selectsection.subtype === 'Product'">
            <label class="control-label">Department</label>
            <ng-select
              name="department_id"
              placeholder="Select Department"
              [items]="departments"
              formControlName="department_id"
              bindLabel="name"
              bindValue="did"
              (change)="changeDept($event)"
              [ngClass]="{
                'is-invalid':
                  (submit && form['department_id']?.errors) ||
                  (form['department_id']?.invalid && (form['department_id']?.dirty || form['department_id']?.touched))
              }"
            >
            </ng-select>

            <div
              *ngIf="
                (submit && form['department_id']?.errors) ||
                (form['department_id']?.invalid && (form['department_id']?.dirty || form['department_id']?.touched))
              "
              class="invalid-feedback"
            >
              <span *ngIf="form['department_id'].errors">Enter valid Department</span>
            </div>
          </div> -->

          <div class="mb-3" *ngIf="selectsection.subtype !== 'Product'">
            <label class="control-label">Type *</label>
            <div class="form-check">
              <label class="form-check-label"
                ><input
                  class="form-check-input"
                  (change)="changeType($event)"
                  type="radio"
                  name="type"
                  id="type1"
                  formControlName="type"
                  value="Group"
                />Group</label
              >
            </div>
            <div class="form-check">
              <label class="form-check-label"
                ><input
                  class="form-check-input"
                  (change)="changeType($event)"
                  type="radio"
                  name="type"
                  id="type2"
                  formControlName="type"
                  value="Supersale"
                />
                Supersale</label
              >
            </div>
            <div class="form-check">
              <label class="form-check-label"
                ><input
                  class="form-check-input"
                  (change)="changeType($event)"
                  type="radio"
                  name="type"
                  id="type3"
                  formControlName="type"
                  value="Offer"
                />
                Offer Groups</label
              >
            </div>
            <div class="form-check">
              <label class="form-check-label"
                ><input
                  class="form-check-input"
                  (change)="changeType($event)"
                  type="radio"
                  name="type"
                  id="type3"
                  formControlName="type"
                  value="Tag"
                />
                Tag</label
              >
            </div>
            <div class="form-check">
              <label class="form-check-label"
                ><input
                  class="form-check-input"
                  (change)="changeType($event)"
                  type="radio"
                  name="type"
                  id="type4"
                  formControlName="type"
                  value="NoLink"
                />
                No Link</label
              >
            </div>
          </div>
          <div class="mb-3" *ngIf="canEnableLink() !== 'NoLink'">
            <label class="control-label">Link *</label>
            <ng-select
              name="link"
              placeholder="Select Items"
              [items]="linkitems"
              bindLabel="name"
              bindValue="uuid"
              [(ngModel)]="selectedLink"
              formControlName="link"
              [ngClass]="{
                'is-invalid': (submit && form['link']?.errors) || (form['link']?.invalid && (form['link']?.dirty || form['link']?.touched))
              }"
              (change)="changeLink()"
            >
            </ng-select>

            <div
              *ngIf="(submit && form['link']?.errors) || (form['link']?.invalid && (form['link']?.dirty || form['link']?.touched))"
              class="invalid-feedback"
            >
              <span *ngIf="form['link'].errors">Enter valid Link</span>
            </div>
          </div>
          <div class="display-block">
            <label class="control-label">Position</label>
            <input
              class="form-control"
              placeholder="Enter Position"
              type="text"
              name="position"
              autocomplete="off"
              formControlName="position"
              [ngClass]="{
                'is-invalid':
                  (submit && form['position']?.errors) ||
                  (form['position']?.invalid && (form['position']?.dirty || form['position']?.touched))
              }"
            />

            <div
              *ngIf="
                (submit && form['position']?.errors) ||
                (form['position']?.invalid && (form['position']?.dirty || form['position']?.touched))
              "
              class="invalid-feedback"
            >
              <span *ngIf="form['position'].errors">Enter Position</span>
            </div>
          </div>
          <div class="mb-3 ml-4">
            <div class="col-xl-4 col-sm-6" *ngIf="selectedimages.length > 0">
              <div class="card">
                <div class="card-body">
                  <div class="product-img position-relative">
                    <a href="javascript:void(0)"> <img alt="" class="img-fluid mx-auto d-block" src="{{ selectedimages[0]?.path }}" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 ms-4">
            <div class="row">
              <div class="12 p-4">
                <span class="btn btn-primary col-4" (click)="openGallery(mediacontent)"><i class="fas fa-images"></i> Add Image</span>
              </div>
            </div>
          
          </div>

          <div class="d-md-flex align-items-center mt-5">
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="ml-auto">
              <div class="dl">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<!-- Pop UP Open end -->
<!-- Pop UP Open end -->

<!-- Pop UP Open start -->
<ng-template #mediacontent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Media Library</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form enctype="multipart/form-data">
      <div class="row px-4">
        <div class="col-12">
          <div style="margin-left: 30%; margin-bottom: 20px">
            <input
              type="file"
              class="btn btn-success"
              (change)="onSelectedImage($event)"
              style="position: absolute; height: 70px; width: 160px; opacity: 0"
            />
            <span style="width: 160px; display: block; height: 70px; z-index: -1" class="col-3 btn btn-light w-sm">
              <i class="mdi mdi-upload d-block font-size-16"></i>
              New File Upload</span
            >
          </div>
          <div class="row">
            <div class="col-xl-3 col-sm-4 mt-4" *ngFor="let image of images; let i = index" (click)="selectimage(i)">
              <div class="product-img position-relative p-4" [ngClass]="{ activeimgsel: image?.select }">
                <img class="img-fluid mx-auto d-block" src="{{ image?.path }}" alt="Mugdha" style="max-height: 200px" />
              </div>
            </div>
          </div>

          <!-- Pagination  -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-4">
              <div class="dataTables_length" id="tickets-table_length">
                <label class="d-inline-flex align-items-center"
                  >Show
                  <select class="form-select form-select-sm ms-2 me-2" (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                  Entries</label
                >
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-8">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination
                  class="pagination pagination-rounded justify-content-center mt-4"
                  size="lg"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  (pageChange)="handlePageChange($event)"
                  [collectionSize]="count"
                  [maxSize]="10"
                  [rotate]="true"
                >
                  <ng-template ngbPaginationPrevious><i class="mdi mdi-chevron-left"></i> </ng-template>
                  <ng-template ngbPaginationNext><i class="mdi mdi-chevron-right"></i></ng-template>
                </ngb-pagination>
              </div>
            </div>
          </div>
          <!-- Pagination  -->

          <div class="d-md-flex align-items-center mt-5">
            <div class="col-md-4"></div>
            <div class="ml-auto">
              <div class="dl">
                <span (click)="modal.dismiss('Cross click')" class="btn btn-success">Close</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<!-- Pop UP Open end -->

<ng-template #rt let-r="result" let-t="term" style="position: relative !important">
  <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="me-1"
        style="width: 16px"> -->
  <span *ngIf="!searchFailed">{{ r.group?.name }} / </span>
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>
