<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">View Attendance</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/app']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/app/users/user/attendance']">Attendance</a></li>
                        <li class="breadcrumb-item active"> View </li>
                    </ol>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <h4 class="card-title mb-4">Basic Details</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label col-sm-3">Employee Name : </label>
                                {{viewattendance.user?.name}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label col-sm-3">Role : </label>
                                {{viewattendance.user?.role?.name}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label col-sm-3">Login Time : </label>
                                {{viewattendance.logintime}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label col-sm-3">Logout Time : </label>
                                {{viewattendance.logouttime == null ? '-' : viewattendance.logouttime}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label col-sm-3">Date : </label>
                                {{viewattendance.date}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label col-sm-3"> Status : </label>
                                {{viewattendance.status === '0' ? 'Inactive' : 'Active'}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label col-sm-3"> CreateAt : </label>
                                {{viewattendance.createdAt | date:'medium'}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label col-sm-3">UpdateAt : </label>
                                {{viewattendance.updatedAt | date:'medium'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>