<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12"> -->
<!-- <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Product Variant</h4> -->
<!-- <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/app']">Home</a></li>
                        <li class="breadcrumb-item active"> Product Variant </li>
                    </ol>
                </div> -->
<!-- </div> -->
<div class="card">
  <div class="card-body">
    <div class="row mb-3">
      <!-- <div class="col-sm-2" style="padding-top: 2.3%;">
                <div class="search-box me-2 mb-2 d-inline-block">
                    <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="search"
                            (keyup)="list()">
                        <i class="bx bx-search-alt search-icon" style="left: 22px;"></i>
                    </div>
                </div>
            </div> -->
      <div class="col-sm-2">
        <div class="d-flex align-items-center position-relative my-1 px-1 pt-3">
          <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
          <input type="text" (keyup)="searchTable($event)" placeholder="Search.."
            class="form-control form-control-solid ps-12" #input />
        </div>
      </div>
      <div class="col-sm-2">
        <!-- <div class="mb-3">
          <label class="form-label"> Select Group</label>
          <ng-select name="class" placeholder="Select Group" [items]="groups" bindLabel="name" bindValue="id"
            [(ngModel)]="selectedGroup" (change)="changeGroup($event)">
          </ng-select>
        </div> -->
      </div>
      <!-- <div class="col-sm-2"> -->
        <!-- <div class="mb-3">
          <label class="form-label"> Select Department </label>
          <ng-select name="department" placeholder="Select Department" [items]="departments" bindLabel="name"
            bindValue="did" (change)="changeDepartment($event)">
          </ng-select>
        </div> -->
      <!-- </div> -->
      <div class="col-sm-3">
        <div class="mb-3">
          <label class="form-label"> Select category</label>
          <ng-select name="class" placeholder="Select category" [items]="class" bindLabel="name" bindValue="cid"
            [(ngModel)]="selectedClass" (change)="changeCategory($event)">
          </ng-select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="mb-3">
          <label class="form-label"> Select Subcategory</label>
          <ng-select name="class" placeholder="Select Subcategory" [items]="subclass" bindLabel="name" bindValue="id"
            [(ngModel)]="selectedSubclass" (change)="changeSubcategory($event)">
          </ng-select>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="text-sm-end pt-3">
          <button (click)="addProductvariant(content)" type="button" class="btn btn-primary btn-sm mb-2 mt-4">
            <i class="mdi mdi-plus mr-1"></i> Add New Product variant
          </button>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6"></div>
    </div>
    <div class="table-responsive">
      <table class="table align-middle table-nowrap table-hover">
        <thead>
          <tr>
            <th class="p-5 w-50px">#</th>
            <!-- <th class="text-start p-5 min-w-100px">Department</th> -->
            <th class="text-start p-5 min-w-100px">Category</th>
            <th class="text-start p-5 min-w-100px">Subcategory</th>
            <!-- <th class="text-start p-5 min-w-100px">Group</th> -->
            <th class="text-start p-5 min-w-100px">Variant</th>
            <th class="text-start p-5 min-w-100px">Display Name</th>
            <th class="text-start p-5 min-w-100px">Status</th>
            <th class="text-start p-5 min-w-100px">Created Date</th>
            <th class="text-start p-5 min-w-100px"></th>
            <th class="text-center p-5 min-w-100px">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productvariant of productvariants; let i = index">
            <td class="p-5">{{ page == 1 ? i + 1 : i + 1 + pageSize * (page - 1) }}</td>
            <!-- <td class="p-5">{{ productvariant.department?.name }}</td> -->
            <td class="p-5">{{ productvariant.category?.name }}</td>
            <td class="p-5">{{ productvariant.subcategory?.name }}</td>
            <!-- <td class="p-5">{{ productvariant.group?.name }}</td> -->
            <td class="p-5">
              <strong class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark"></a>
                {{ productvariant.name }}
              </strong>
            </td>
            <td class="p-5">
              {{ productvariant.displayname }}
            </td>
            <td class="p-5">
              <div class="badge badge-light-success">{{ productvariant.status + '' === '1' ? 'Active' : '' }}</div>
              <div class="badge badge-light-danger">{{ productvariant.status + '' === '0' ? 'Inactive' : '' }}</div>
            </td>
            <!-- <td class="p-5">{{ productvariant.status + '' === '0' ? 'Inactive' : 'Active' }}</td> -->
            <td class="p-5">{{ productvariant.createdAt | date : 'medium' }}</td>
            <td class="p-5">
              <span (click)="setActiveProductvariant(content, productvariant, i, 'value')"
                class="badge badge-light-primary cursor-pointer">
                Add Value</span>
            </td>
            <td class="p-5 text-center">
              <ul class="list-inline font-size-20 contact-links mb-0">
                <li class="list-inline-item px-2">
                  <a (click)="setActiveProductvariant(content, productvariant, i)" href="javascript:void(0)"
                    ngbTooltip="View Variant"><app-keenicon name="eye" class="fs-1 text-info"></app-keenicon></a>
                </li>
              </ul>
            </td>
          </tr>
          <tr *ngIf="productvariants?.length === 0">
            <td colspan="11" align="center">No Records Found</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination  -->
    <div class="row justify-content-md-between align-items-md-center mt-2">
      <div class="col-sm-12 col-md-8">
        <div class="dataTables_length" id="tickets-table_length">
          <label class="d-inline-flex align-items-center">Show
            <select class="form-select form-select-sm ms-2 me-2 cursor-pointer" (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>Entries
          </label>
        </div>
      </div>
      <!-- Pagination -->
      <div class="col-sm-12 col-md-4">
        <div class="text-md-right float-md-end pagination-rounded">
          <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
            [boundaryLinks]="true" (pageChange)="handlePageChange($event)" [collectionSize]="count"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pop UP Open start -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" *ngIf="!currentProductvariant!.uuid" id="modal-basic-title">Add Product variant</h5>
    <h5 class="modal-title" *ngIf="currentProductvariant!.uuid && addAction == true" id="modal-basic-title"
      (click)="addProductvariant(content)">
      Edit Product variant
    </h5>
    <h5 class="modal-title" *ngIf="currentProductvariant!.uuid && addAction == false" id="modal-basic-title"
      (click)="addProductvariant(content)">
      Product variant
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="viewAction">
      <app-view-productvariants (refreshList)="refreshList($event)" (editProductvariant)="editProductvariant($event)"
        [selectedProductvariant]="currentProductvariant"></app-view-productvariants>
    </div>
    <div *ngIf="addAction">
      <app-addproductvariants (refreshList)="refreshList($event)"
        [data]="currentProductvariant"></app-addproductvariants>
    </div>
  </div>
</ng-template>
<!-- Pop UP Open end -->