<div class="submit-form">
    <form (ngSubmit)="saveTax()" [formGroup]="formData" novalidate>
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label required">Tax name</label>
                    <input class="form-control" placeholder="Enter Tax Name" type="text" name="name" autocomplete="off"
                        formControlName="name"
                        [ngClass]="{'is-invalid': (submit && form['name']?.errors) || (form['name']?.invalid && (form['name']?.dirty || form['name']?.touched))}" />

                    <div *ngIf="(submit && form['name']?.errors) || (form['name']?.invalid && (form['name']?.dirty || form['name']?.touched))"
                        class="invalid-feedback">
                        <span *ngIf="form['name'].errors?.['required']">Enter tax name.</span>
                        <span *ngIf="form['name'].errors?.['minlength']">Minimum Length 4
                            Characters.</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label required"> Percentage</label>
                    <input class="form-control" placeholder="Enter Percentage" type="text" name="percentage"
                        autocomplete="off" formControlName="percentage"
                        [ngClass]="{'is-invalid': (submit && form['percentage']?.errors) || (form['percentage']?.invalid && (form['percentage']?.dirty || form['percentage']?.touched))}" />
                    <div *ngIf="(submit && form['percentage']?.errors) || (form['percentage']?.invalid && (form['percentage']?.dirty || form['percentage']?.touched))"
                        class="invalid-feedback">
                        <span *ngIf="form['percentage'].errors?.['required']">Enter tax percentage.</span>
                    </div>
                </div>
                <div class="mb-3" *ngIf="data.id">
                    <label class="form-label required"> Status</label>
                    <select class="form-control" type="text" name="status" formControlName="status"
                        [ngClass]="{'is-invalid': (submit && form['status']?.errors) || (form['status']?.invalid && (form['status']?.dirty || form['status']?.touched))}">
                        <option *ngFor="let stat of statuses" [value]="stat.id">{{ stat.name }}</option>
                    </select>
                </div>
                <div class="d-md-flex align-items-center mt-5">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-sm m-2">Submit</button>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <button type="button" class="btn btn-secondary btn-sm m-2"
                                (click)="cancelAction()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>