.table-light[_ngcontent-ng-c1394741425] {
    --bs-table-color: #000000;
    --bs-table-bg: #f9f9f9;
    --bs-table-border-color: #e0e0e0;
    --bs-table-striped-bg: #ededed;
    --bs-table-striped-color: #000000;
    --bs-table-active-bg: #e0e0e0;
    --bs-table-active-color: #000000;
    --bs-table-hover-bg: #f5d5e6;
    --bs-table-hover-color: #060505;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}