<div class="page-title d-flex flex-wrap me-3 flex-column justify-content-center">
    <h1 class="page-heading d-flex text-dark fw-bold fs-3 my-0 flex-column justify-content-center pb-5">View Newsletter</h1>
</div>
<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-1 pb-0">
        <div class="card-body py-3">
            <div class="row mt-3">
                <div class="col-sm-12">
                    <h4 class="card-title mb-4">Newsletter Details</h4>
                </div>
            </div>
            <div class="row">
                <div class="text-end">
                    <button class="btn btn-sm mt-3 fw-bold btn-primary mx-2" (click)="back()">Back</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label col-sm-3 fw-bold">Newsletter title : </label>
                        {{ data.title }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label col-sm-3 fw-bold">Image : </label>
                            <img src="{{ data.image }}" alt="" width="100" height="100" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label col-sm-3 fw-bold">Newsletter Link : </label>
                        {{ data.link }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label col-sm-3 fw-bold">Status : </label>
                            {{data.status}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label col-sm-3 fw-bold">Link Type: </label>
                        {{ data.type }}
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-6">

                    <div class="table-responsive">
                        <table class="table table-sm align-middle table-row-dashed fs-6">
                            <tr class="text-start">
                                <td class="pe-0">
                                    <label class="form-label col-sm-3 fw-bold p-0">Content : </label>
                                    <p class="mb-0 p-0" [innerHTML]="  data?.content "></p>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="card-body pt-1 pb-0">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table align-middle table-hover">
                            <thead>
                                <tr>
                                    <th class="p-5 w-30px">#</th>
                                    <th class="text-start p-5 min-w-70px">Email</th>
                                    
                                    <th class="text-start p-5 min-w-70px">Status</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let warehouse of jobs; let i = index">
                                    <td class="text-center fw-bold p-5">{{(page == 1 ? i+1 : (i+1)+(pageSize*(page-1))) }}
                                    </td>
                                    <td class="p-5">
                                        <strong><a href="javascript: void(0)" class="text-dark"></a>
                                            {{warehouse.email}}
                                        </strong>
                                    </td>
        
                                    <td>
                                        <div class="badge badge-light-success">{{ warehouse.status + '' === '1' ? 'Active' : ''
                                            }}</div>
                                        <div class="badge badge-light-danger">{{ warehouse.status + '' === '0' ? 'Inactive' : ''
                                            }}</div>
                                    </td>
                                   
                                   
                                </tr>
                                <tr *ngIf="warehouses?.length === 0">
                                    <td colspan="7" class="text-center fw-bold">No Records Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination  -->
                    <div class="row justify-content-md-between align-items-md-center mt-2">
                        <div class="col-sm-12 col-md-4">
                            <div class="dataTables_length" id="tickets-table_length">
                                <label class="d-inline-flex align-items-center">Show
                                    <select class="form-select form-select-sm ms-2 me-2 cursor-pointer"
                                        (change)="handlePageSizeChange($event)">
                                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                                            {{ size }}
                                        </option>
                                    </select>
                                    Entries</label>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col-sm-12 col-md-8">
                            <div class="text-md-right float-md-end pagination-rounded">
                                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true"
                                    [ellipses]="false" [boundaryLinks]="true" (pageChange)="handlePageChange($event)"
                                    [collectionSize]="count"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>