<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!-- <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18"></h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a [routerLink]="['/warehouse']">Home</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
          </ol>
        </div>
      </div> -->
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input tabindex="1" autofocus type="text" class="form-control" placeholder="Search shelf..."
                    [(ngModel)]="search" name="search" #searchInput />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8"></div>
          </div>
          <!-- start row -->
          <div class="row">
            <!-- Packing Scanner  -->
            <div class="col-md-7">
              <div class="table-responsive">
                <table class="table align-middle table-nowrap">
                  <thead>
                    <tr>
                      <th scope="col" class="p-5 w-80px">#</th>
                      <th scope="col" class="p-5 w-80px">Tag</th>
                      <th scope="col" class="p-5 w-80px">Group</th>
                      <th scope="col" class="p-5 w-80px">Variants</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let list of locationList; let i = index" [style.background-color]="
                        locationList[i].status === 'true'
                          ? '#66FF99'
                          : locationList[i].status === 'excess'
                          ? '#D3D3D3'
                          : ''
                      ">
                      <td class="p-5 w-50px">
                        {{ page == 1 ? i + 1 : i + 1 + pageSize * (page - 1) }}
                      </td>
                      <td>{{ list.psid }}</td>
                      <td>{{ list.shelfing?.group?.name }}</td>
                      <td>{{ list.inventory?.description }}</td>
                    </tr>
                    <tr *ngIf="locationList?.length === 0">
                      <td colspan="12" class="text-center fw-bold">No Records Found</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-md-5">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h4 class="card-title">
                    Scan the items you want to move
                    <i class="fa fa-solid fa-hand-point-right fa-rotate-90 font-size-20"></i>
                  </h4>
                  <zxing-scanner [torch]="torchEnabled" (scanSuccess)="onItemScan($event)" [tryHarder]="tryHarder"
                    (permissionResponse)="onHasPermission($event)" (torchCompatible)="onTorchCompatible($event)"
                    [enable]="showqcscan">
                  </zxing-scanner>
                  <button (click)="opentoShelfScan(shelfcontent)" type="button" class="btn btn-sm btn-primary">
                    Move highlighted item to destination shelf
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- With move shelf modal content-->
<ng-template #shelfcontent let-modal>
  <div class="modal-header">
    <div class="col-lg-12 col-sm-12">
      <h4 class="d-inline-block card-title py-4">Scan Destination Shelf</h4>
      <button type="button" class="btn-close fa-pull-right" style="height: 70px" aria-hidden="true"
        (click)="closeModal()"></button>
    </div>
  </div>
  <div class="modal-body">
    <zxing-scanner [torch]="torchEnabled" (scanSuccess)="scantoShelf($event)" [tryHarder]="tryHarder"
      (permissionResponse)="onHasPermission($event)" (torchCompatible)="onTorchCompatible($event)">
    </zxing-scanner>
    <br />

    <button *ngIf="enableConfirm" class="btn btn-info" (click)="moveToDestShelf()">
      <i class="fas fa-cart-plus"></i>
      Move to Shelf
    </button>
  </div>
</ng-template>