<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-1 pb-0">
        <div class="card-body py-3">
            <form (ngSubmit)="saveUser()" [formGroup]="formData">
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <h4 class="card-title mb-4">Leave Details</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Leave Type *</label>
                            <select class="form-control" name="leavetype_id" formControlName="leavetype_id"
                                [ngClass]="{'is-invalid': (submit && form['leavetype_id']?.errors) || (form['leavetype_id']?.invalid && (form['leavetype_id']?.dirty || form['leavetype_id']?.touched))}">
                                <option *ngFor="let type of leavetypes" [value]="type.id">{{ type.name }}
                                </option>
                            </select>

                            <div *ngIf="(submit && form['leavetype_id']?.errors) || (form['leavetype_id']?.invalid && (form['leavetype_id']?.dirty || form['leavetype_id']?.touched))"
                                class="invalid-feedback">
                                <span *ngIf="form['leavetype_id'].errors?.['required']">Enter valid Leaves
                                    code.</span>
                                <span *ngIf="form['leavetype_id'].errors?.['minlength']">Minimum Length 4
                                    Characters.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Leave Date *</label>
                            <input class="form-control" type="date" autocomplete="off" name="leavedate"
                                formControlName="leavedate"
                                [ngClass]="{'is-invalid': submit && form['leavedate'].errors}" required>

                            <div *ngIf="submit && form['leavedate'].errors" class="invalid-feedback">
                                <span *ngIf="form['leavedate'].errors['required']">Leave Date is
                                    required.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Description *</label>
                            <input class="form-control" placeholder="Enter description" type="text" name="description"
                                autocomplete="off" formControlName="description"
                                [ngClass]="{'is-invalid': (submit && form['description']?.errors) || (form['description']?.invalid && (form['description']?.dirty || form['description']?.touched))}" />

                            <div *ngIf="(submit && form['description']?.errors) || (form['description']?.invalid && (form['description']?.dirty || form['description']?.touched))"
                                class="invalid-feedback">
                                <span *ngIf="form['description'].errors?.['required']">Enter valid
                                    description</span>
                                <span *ngIf="form['description'].errors?.['minlength']">Minimum Length 3
                                    Characters.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="edit">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">Status *</label>
                            <select class="form-control" type="text" name="status" formControlName="status"
                                [ngClass]="{'is-invalid': (submit && form['status']?.errors) || (form['status']?.invalid && (form['status']?.dirty || form['status']?.touched))}">
                                <option *ngFor="let stat of statuses" [value]="stat.id">{{ stat.name }}</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="text-sm-end">
                        <a [routerLink]="['/hr/leaves']" class="btn btn-sm btn-secondary me-4 fw-bold">Cancel</a>
                        <button type="submit" class="btn btn-sm btn-primary fw-bold">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>