<div class="">
  <div class="row g-5">
    <div class="col-md-3 col-sm-3">
      <div class="card mb-5">
        <!-- begin::Body -->
        <div class="card-body p-0 d-flex flex-column">
          <!-- begin::Stats -->
          <div class="card-px pt-5 pb-5 flex-grow-1" style="margin-bottom: -5px">
            <!-- begin::Row -->
            <div class="row g-0 mt-5 mb-10">
              <!-- begin::Col -->
              <!-- <div class="col-12"> -->
                <div class="d-flex align-items-center me-2">
                  <!-- begin::Symbol -->
                  <div class="symbol symbol-60px ">
                    <!-- <div class="symbol-label bg-light-info"> -->
                    <app-keenicon name="package" class="fs-5x text-primary"></app-keenicon>
                    <!-- </div> -->
                  </div>
                  <!-- end::Symbol -->

                  <!-- begin::Title -->
                  <div>
                    <div class="fs-5 text-dark fw-bolder">{{shipQuantity }}</div>
                    <div class="fs-6 text-primary fw-bold">Shipped Quantity</div>
                  </div>
                  <!-- end::Title -->
                </div>
              <!-- </div> -->
            </div>
          </div>
          <!-- end::Body -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="card card mb-5">
        <!-- begin::Body -->
        <div class="card-body p-0 d-flex flex-column">
          <!-- begin::Stats -->
          <div class="card-px pt-5 pb-5 flex-grow-1" style="margin-bottom: -5px">
            <!-- begin::Row -->
            <div class="row g-0 mt-5 mb-10">
              <!-- begin::Col -->
              <!-- <div class="col-12"> -->
                <div class="d-flex align-items-center me-2">
                  <!-- begin::Symbol -->
                  <div class="symbol symbol-60px ">
                    <!-- <div class="symbol-label bg-light-info"> -->
                      <app-keenicon name="cheque" class="fs-5x text-primary" ></app-keenicon>
                    <!-- </div> -->
                  </div>
                  <!-- end::Symbol -->
        
                  <!-- begin::Title -->
                  <div>
                    <div class="fs-5 text-dark fw-bolder">{{totalQuantity}}</div>
                    <div class="fs-6 text-primary fw-bold">Total Quantity</div>
                  </div>
                  <!-- end::Title -->
                </div>
              <!-- </div> -->
            </div>
          </div>
          <!-- end::Body -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="card card mb-5">
        <!-- begin::Body -->
        <div class="card-body p-0 d-flex flex-column">
          <!-- begin::Stats -->
          <div class="card-px pt-5 pb-5 flex-grow-1" style="margin-bottom: -5px">
            <!-- begin::Row -->
            <div class="row g-0 mt-5 mb-10">
              <!-- begin::Col -->
              <!-- <div class="col-12"> -->
                <div class="d-flex align-items-center me-2">
                  <!-- begin::Symbol -->
                  <div class="symbol symbol-60px ">
                    <!-- <div class="symbol-label bg-light-info"> -->
                    <app-keenicon name="handcart" class="fs-5x text-primary"></app-keenicon>
                    <!-- </div> -->
                  </div>
                  <!-- end::Symbol -->
        
                  <!-- begin::Title -->
                  <div>
                    <div class="fs-5 text-dark fw-bolder">{{ totalOrderQuantity }}</div>
                    <div class="fs-6 text-primary fw-bold">Total Order Quantity</div>
                  </div>
                  <!-- end::Title -->
                </div>
              <!-- </div> -->
            </div>
          </div>
          <!-- end::Body -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="card mb-5">
        <!-- begin::Body -->
        <div class="card-body p-0 d-flex flex-column">
          <!-- begin::Stats -->
          <div class="card-px pt-5 pb-5 flex-grow-1" style="margin-bottom: -5px">
            <!-- begin::Row -->
            <div class="row g-0 mt-5 mb-10">
              <!-- begin::Col -->
              <div class="d-flex align-items-center me-2">
                <!-- begin::Symbol -->
                <div class="symbol symbol-60px ">
                  <!-- <div class="symbol-label bg-light-info"> -->
                    <app-keenicon name="lots-shopping" class="fs-5x text-primary" ></app-keenicon>
                  <!-- </div> -->
                </div>
                <!-- end::Symbol -->
                <!-- begin::Title -->
                <div>
                  <div class="fs-5 text-dark fw-bolder">{{totalStockQuantity}}</div>
                  <div class="fs-6 text-primary fw-bold">Total Stock Quantity</div>
                </div>
                <!-- end::Title -->
              </div>
            </div>
          </div>
          <!-- end::Body -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-charts-widget4 class="card card-xl-stretch mb-xl-8"> </app-charts-widget4>
  </div>

  <div class="col-xl-6">
    <app-charts-widget3 class="card card-xl-stretch mb-xl-8"> </app-charts-widget3>
  </div>
</div>
<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-charts-widget1 class="card card-xl-stretch mb-xl-8"> </app-charts-widget1>
  </div>

  <div class="col-xl-6">
    <app-charts-widget2 class="card card-xl-stretch mb-xl-8"> </app-charts-widget2>
  </div>
</div> -->
