<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18 pb-8">{{edit?'Edit':'New'}} Bankaccount</h4>
               
            </div>
            <div class="card">
                <div class="card-body px-5">
                    <form (ngSubmit)="saveBankaccount()" [formGroup]="formData">
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <h4 class="card-title mb-4">Bankaccount Details</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="control-label">Account Name *</label>
                                    <input class="form-control" placeholder="Bankaccount Name" type="text"
                                        name="accountname" autocomplete="off" formControlName="accountname"
                                        [ngClass]="{'is-invalid': (submit && form['accountname']?.errors) || (form['accountname']?.invalid && (form['accountname']?.dirty || form['accountname']?.touched))}" />

                                    <div *ngIf="(submit && form['accountname']?.errors) || (form['accountname']?.invalid && (form['accountname']?.dirty || form['accountname']?.touched))"
                                        class="invalid-feedback">
                                        <span *ngIf="form['accountname'].errors?.['required']">Enter valid name</span>
                                        <span *ngIf="form['accountname'].errors?.['minlength']">Minimum Length 3
                                            Characters.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="control-label">Account Number *</label>
                                    <input class="form-control" placeholder="Account Number" type="text"
                                        name="accountnumber" autocomplete="off" formControlName="accountnumber"
                                        [ngClass]="{'is-invalid': (submit && form['accountnumber']?.errors) || (form['accountnumber']?.invalid && (form['accountnumber']?.dirty || form['accountnumber']?.touched))}" />

                                    <div *ngIf="(submit && form['accountnumber']?.errors) || (form['accountnumber']?.invalid && (form['accountnumber']?.dirty || form['accountnumber']?.touched))"
                                        class="invalid-feedback">
                                        <span *ngIf="form['accountnumber'].errors?.['required']">Enter valid account
                                            number</span>
                                        <span *ngIf="form['accountnumber'].errors?.['minlength']">Minimum Length 6
                                            Characters.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="control-label">SKU *</label>
                                    <input class="form-control" placeholder="Enter SKU" type="text" name="sku"
                                        autocomplete="off" formControlName="sku"
                                        [ngClass]="{'is-invalid': (submit && form['sku']?.errors) || (form['sku']?.invalid && (form['sku']?.dirty || form['sku']?.touched))}" />

                                    <div *ngIf="(submit && form['sku']?.errors) || (form['sku']?.invalid && (form['sku']?.dirty || form['sku']?.touched))"
                                        class="invalid-feedback">
                                        <span *ngIf="form['sku'].errors?.['required']">Enter valid name</span>
                                        <span *ngIf="form['sku'].errors?.['minlength']">Minimum Length 3
                                            Characters.</span>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="control-label">Bank Name *</label>
                                    <input class="form-control" placeholder="Bank Name" type="text" name="bankname"
                                        autocomplete="off" formControlName="bankname"
                                        [ngClass]="{'is-invalid': (submit && form['bankname']?.errors) || (form['bankname']?.invalid && (form['bankname']?.dirty || form['bankname']?.touched))}" />

                                    <div *ngIf="(submit && form['bankname']?.errors) || (form['bankname']?.invalid && (form['bankname']?.dirty || form['bankname']?.touched))"
                                        class="invalid-feedback">
                                        <span *ngIf="form['bankname'].errors?.['required']">Enter valid name</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="control-label">IFSC Code *</label>
                                    <input class="form-control" placeholder="IFSC Code" type="text" name="ifsc"
                                        autocomplete="off" formControlName="ifsc"
                                        [ngClass]="{'is-invalid': (submit && form['ifsc']?.errors) || (form['ifsc']?.invalid && (form['ifsc']?.dirty || form['ifsc']?.touched))}" />

                                    <div *ngIf="(submit && form['ifsc']?.errors) || (form['ifsc']?.invalid && (form['ifsc']?.dirty || form['ifsc']?.touched))"
                                        class="invalid-feedback">
                                        <span *ngIf="form['ifsc'].errors?.['required']">Enter ifsc code</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="control-label"> Description</label>
                                    <textarea class="form-control" placeholder="Enter Description" type="text"
                                        name="description" autocomplete="off" formControlName="description"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-6" *ngIf="edit">
                                <div class="mb-3">
                                    <label class="control-label">Bankaccount Status *</label>
                                    <select class="form-select" type="text" name="status" formControlName="status"
                                        [ngClass]="{'is-invalid': (submit && form['status']?.errors) || (form['status']?.invalid && (form['status']?.dirty || form['status']?.touched))}">
                                        <option *ngFor="let stat of statuses" [value]="stat.id">{{ stat.name }}</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <br />
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="type" id="type"
                                            [checked]=" data.type == 'Normal' ?  '' : 'isChecked'">
                                        <label class="form-check-label" for="type">
                                            Make this primary
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="control-label">Cost Price </label>
                                    <input class="form-control" placeholder="Cost Price" type="text" name="cost_price"
                                        autocomplete="off" formControlName="cost_price"
                                        [ngClass]="{'is-invalid': (submit && form['cost_price']?.errors) || (form['cost_price']?.invalid && (form['cost_price']?.dirty || form['cost_price']?.touched))}" />

                                    <div *ngIf="(submit && form['cost_price']?.errors) || (form['cost_price']?.invalid && (form['cost_price']?.dirty || form['cost_price']?.touched))"
                                        class="invalid-feedback">
                                        <span *ngIf="form['cost_price'].errors?.['required']">Enter valid
                                            cost_price</span>
                                        <span *ngIf="form['cost_price'].errors?.['minlength']">Minimum Length 3
                                            Characters.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="control-label">Selling Price</label>
                                    <input class="form-control" placeholder="Selling Price" type="text"
                                        name="selling_price" id="example-date-input" autocomplete="off"
                                        formControlName="selling_price"
                                        [ngClass]="{'is-invalid': (submit && form['selling_price']?.errors) || (form['selling_price']?.invalid && (form['selling_price']?.dirty || form['selling_price']?.touched))}" />

                                    <div *ngIf="(submit && form['selling_price']?.errors) || (form['selling_price']?.invalid && (form['selling_price']?.dirty || form['selling_price']?.touched))"
                                        class="invalid-feedback">
                                        <span *ngIf="form['selling_price'].errors?.['required']">Enter valid
                                            selling price</span>
                                        <span *ngIf="form['selling_price'].errors?.['minlength']">Minimum Length 3
                                            Characters.</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="mt-2">
                            <div class="text-sm-end">
                                <a [routerLink]="['/finance/bankaccounts']" class="btn btn-sm btn-secondary me-4">Cancel</a>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>


        </div>
    </div>
</div>