<div class="card mb-5 mb-xl-10">
  <div class="card">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-sm-2">
          <!--begin::Search-->
          <div class="d-flex align-items-center position-relative mt-5 px-1">
            <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <input type="text" (keyup)="searchTable($event)" placeholder="Search.."
              class="form-control form-control-solid ps-12 mt-2" #input />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="mb-3">
            <!-- <label class="form-label"> Select Department </label>
                        <ng-select name="department" placeholder="Select Department" [items]="departments"
                            bindLabel="name" bindValue="did" (change)="changeDepartment($event)"
                            [(ngModel)]="selectedDept" [disabled]="true">
                        </ng-select> -->
          </div>
        </div>
        <div class="col-sm-3">
          <div class="mb-3">
            <label class="form-label"> Select Category</label>
            <ng-select name="class" placeholder="Select Category" [items]="class" bindLabel="name" bindValue="cid"
              [(ngModel)]="selectedClass" (change)="changeCategory($event)">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="mb-3">
            <label class="form-label"> Select Subcategory</label>
            <ng-select name="class" placeholder="Select Subcategory" [items]="subclass" bindLabel="name" bindValue="id"
              [(ngModel)]="selectedSubclass" (change)="changeSubcategory($event)">
            </ng-select>
          </div>
        </div>
        <!-- <div class="col-sm-2">
          <div class="mb-3">
            <label class="form-label"> Select Group</label>
            <ng-select name="class" placeholder="Select Group" [items]="groups" bindLabel="name" bindValue="id"
              [(ngModel)]="selectedGroup" (change)="changeGroup($event)">
            </ng-select>
          </div>
        </div> -->
        <div class="col-sm-2">
          <div class="text-sm-end pt-3">
            <button (click)="addProductparameter(content)" type="button" class="btn btn-primary btn-sm mt-5">
              <i class="mdi mdi-plus mr-1"></i> Add Product Parameter
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-middle table-nowrap table-hover">
          <thead>
            <tr>
              <th class="text-center p-3 min-w-50px">#</th>
              <!-- <th class="text-start p-3 min-w-100px">Department</th> -->
              <th class="text-start p-3 min-w-80px">Category</th>
              <th class="text-start p-3 min-w-80px">Subcategory</th>
              <!-- <th class="text-start p-3 min-w-80px">Group</th> -->
              <th class="text-start p-3 min-w-120px">Parameter</th>
              <th class="text-start p-3 min-w-80px">Status</th>
              <th class="text-start p-3 min-w-120px">Created Date</th>
              <th class="text-start p-3 min-w-80px"></th>
              <th class="text-start p-3 min-w-50px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productparameter of productparameters; let i = index">
              <td class="text-center p-3">{{ page === 1 ? i + 1 : i + 1 + pageSize * (page - 1) }}</td>
              <!-- <td class="p-3">{{ productparameter.department?.name }}</td> -->
              <td class="p-3">{{ productparameter.category?.name }}</td>
              <td class="p-3">{{ productparameter.subcategory?.name }}</td>
              <!-- <td class="p-3">{{ productparameter.group?.name }}</td> -->
              <td class="p-3">
                <strong class="font-size-14 mb-1 d-block"><a href="javascript: void(0);" class="text-dark"></a>
                  {{ productparameter.name }}
                </strong>
                <!-- <strong class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark"></a>
                                    {{productparameter.name}}
                                </strong> -->
              </td>
              <td class="p-5">
                <div class="badge badge-light-success">{{ productparameter.status + '' === '1' ? 'Active' : '' }}</div>
                <div class="badge badge-light-danger">{{ productparameter.status + '' === '0' ? 'Inactive' : '' }}</div>
              </td>
              <td class="p-3">{{ productparameter.createdAt | date : 'medium' }}</td>
              <td class="p-3">
                <span role="button" (click)="setActiveProductparameter(content, productparameter, i, 'value')"
                  class="badge badge-light-info"><i class="mdi mdi-plus mr-1"></i> Add Value</span>
              </td>
              <td class="p-3">
                <ul class="list-inline font-size-20 contact-links mb-0">
                  <li class="list-inline-item px-2">
                    <a (click)="setActiveProductparameter(content, productparameter, i)" href="javascript:void(0)"
                      ngbTooltip="View Parameter">
                      <app-keenicon name="eye" class="fs-1 text-info"></app-keenicon></a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr *ngIf="productparameters?.length === 0">
              <td colspan="9" class="text-center fw-bold">No Records Found</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination  -->
      <div class="row justify-content-md-between align-items-md-center mt-2">
        <div class="col-sm-12 col-md-4">
          <div class="dataTables_length" id="tickets-table_length">
            <label class="d-inline-flex align-items-center">Show
              <select class="form-select form-select-sm ms-2 me-2 cursor-pointer"
                (change)="handlePageSizeChange($event)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
              Entries</label>
          </div>
        </div>
        <!-- Pagination -->
        <div class="col-sm-12 col-md-8">
          <div class="text-md-right float-md-end pagination-rounded">
            <!-- <ngb-pagination class="pagination pagination-rounded justify-content-center mt-4"
                                    size="lg" [(page)]="page" [pageSize]="pageSize"
                                    (pageChange)="handlePageChange($event)" [collectionSize]="count" [maxSize]="20"
                                    [rotate]="true">
                                    <ng-template ngbPaginationPrevious><i
                                            class="mdi mdi-chevron-left"></i></ng-template>
                                    <ng-template ngbPaginationNext><i class="mdi mdi-chevron-right"></i></ng-template>
                                </ngb-pagination> -->
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
              [boundaryLinks]="true" (pageChange)="handlePageChange($event)" [collectionSize]="count"></ngb-pagination>
          </div>
        </div>
      </div>
      <!-- Pagination  -->
    </div>
  </div>
  <!-- </div>
    </div> -->
</div>

<!-- Pop UP Open start -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" *ngIf="!currentProductparameter!.uuid" id="modal-basic-title">Add Productparameter</h5>
    <h5 class="modal-title" *ngIf="currentProductparameter!.uuid && addAction === true" id="modal-basic-title"
      (click)="addProductparameter(content)">
      Edit Productparameter
    </h5>
    <h5 class="modal-title" *ngIf="currentProductparameter!.uuid && addAction === false" id="modal-basic-title"
      (click)="addProductparameter(content)">
      View Productparameter
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="viewAction">
      <app-viewparameters (refreshList)="refreshList($event)" (editProductparameter)="editProductparameter($event)"
        [selectedProductparameter]="currentProductparameter"></app-viewparameters>
    </div>
    <div *ngIf="addAction">
      <app-addparameters (refreshList)="refreshList($event)" [data]="currentProductparameter"></app-addparameters>
    </div>
  </div>
</ng-template>
<!-- Pop UP Open end -->