
<!-- begin::Body -->
<div class="card-body p-0 d-flex flex-column">
  <!-- begin::Stats -->
  <div class="card-px pt-5 pb-10 flex-grow-1" style="margin-bottom: -24px;">
    <!-- begin::Row -->
    <div class="row g-0 mt-5 mb-10">
      <!-- begin::Col -->
      <div class="col-12">
        <div class="d-flex align-items-center me-2">
          <!-- begin::Symbol -->
          <div class="symbol symbol-60px me-15">
            <!-- <div class="symbol-label bg-light-info"> -->
              <app-keenicon name="lots-shopping" class="fs-5x text-primary" ></app-keenicon>
            <!-- </div> -->
          </div>
          <!-- end::Symbol -->

          <!-- begin::Title -->
          <div>
            <div class="fs-5 text-dark fw-bolder">{{this.result[0].total_stockqty}}</div>
            <div class="fs-6 text-primary fw-bold">Total Stock Quantity</div>
          </div>
          <!-- end::Title -->
        </div>
      </div>
  </div>
</div>
<!-- end::Body -->
